*.bat
*.zip
*.7z
*.exe
TheDesk-*
build/*
app/.DS_Store
.DS_Store
.vs/*
.vscode/*
enq.md
app/.tkn
app/node_modules
app/js/login/tkn.js
app/view/en
app/view/ja
app/view/de
app/view/bg
app/view/cs
app/view/ps
app/view/es-AR
app/git
