*.bat
*.zip
*.7z
*.exe
TheDesk-*
build/*
app/.DS_Store
.DS_Store
.vs/*
.vscode/*
enq.md
app/.tkn
app/node_modules
app/js/login/tkn.js
app/view/en
app/view/ja
app/view/ja-KS
app/view/de
app/view/bg
app/view/cs
app/view/ps
app/view/es-AR
app/view/it-IT
app/git
*.code-workspace
releasenote.md
app/yarn-error.log
app/js/platform/aiscript.js
app/view/es-ES
app/view/es-FR
app/view/es-NO
app/view/es-CN
app/view/es-RU
app/view/es-TW