/*共通CSS*/
html,
body {
	/*transform: translate3d(0,0,0);*/
	overflow: hidden;
	user-select: none;
	cursor: default;
	height: 100vh;
	color: var(--color);
}
html {
	font-size: 13px;
}
.titlebar,
.menubar-menu-container,
.action-menu-item {
	background-color: var(--notfbox) !important;
	filter: brightness(110%) !important;
	color: var(--color) !important;
}
.action-menu-item:hover {
	filter: brightness(80%) !important;
}
.btn, .btn-flat {
	font-size: 1.1rem;
	margin: 0.4rem;
	text-transform: none;
	height: 2.76rem;
	line-height: 2.76rem;
}
.markdown {
	display: none;
}
.accessMark {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var(--emphasized);
	padding-left: 5px;
	padding-right: 5px;
}
.accessibility .scr {
	display: none !important;
}
.show-help {
	display: inline;
}
option {
	display: none;
}
#mainView {
	padding: 10px;
	overflow: scroll;
	height: auto;
}
#message {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: black;
	color: white;
	z-index: 9999;
}
#imagemodal,
#videomodal {
	display: none;
	max-width: 100vw;
	max-height: 100vh;
	position: fixed;
	z-index: 9;
	top: 0 !important;
}
#videomodal,
#tootmodal {
	background-color: var(--modal);
}
#imagemodal .modal-content {
	overflow: hidden;
	padding: 0;
}
#imagemodal .modal-footer {
	overflow-x: hidden;
	overflow-y: hidden;
}

#imagewrap {
	width: 100%;
	height: 100%;
}
.pointer {
	cursor: pointer;
}
.badge {
	min-width: 0 !important;
	margin-left: 0.4rem !important;
}
.unvisible {
	opacity: 0;
}
.bbcode-pulse-loadings,
.bbcode-pulse-loading,
.fa-pulse {
	display: inline-block;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: pulse;
}
@keyframes pulse {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}
@keyframes shake {
	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

.shake {
	display: inline-block;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: shake;
}
code:before,
.pre:before {
	content: 'Code';
	font-size: 1.8rem;
	line-height: 1em;
	font-family: monospace, monospace;
	color: #999;
	position: absolute;
	right: 0;
	top: 0;
}
code,
pre {
	color: white;
	display: block;
	border-left: 5px solid;
	border-color: #079903;
	padding-left: 0.75rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	margin-left: 0.75rem;
	background-color: #000;
	padding: 1em 1em 1em;
	position: relative;
	border-top-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
	white-space: normal;
}
blockquote,
.quote p {
	margin: 0;
}
blockquote,
.quote {
	color: black;
	background-color: #ddd;
	padding: 1em 1em 1em;
	position: relative;
	border-top-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.5rem;
}
blockquote:before,
.quote:before {
	content: 'Quote';
	font-size: 1.8rem;
	line-height: 1em;
	font-family: Open Sans, cursive;
	color: #999;
	position: absolute;
	right: 0;
	top: 0;
}
.pixiv-post {
	color: black;
	background-color: #fff;
	padding: 1em 1em 1em;
	position: relative;
	border-top-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem;
	border-left: 5px solid #0096fa;
}
.pixiv-post :before {
	content: 'From Pixiv';
	font-size: 1.8rem;
	line-height: 1em;
	font-family: Open Sans;
	color: #999;
	position: absolute;
	right: 0;
	top: 0;
}
#start {
	display: none;
	position: fixed;
	width: 100vw;
	height: calc(100vh - 3rem);
	background-color: var(--bg);
	filter: brightness(50%);
	color: var(--color);
	z-index: 99999;
	justify-content: center;
	align-items: center;
}
#drag {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	color: var(--color);
	z-index: 99999;
	justify-content: center;
	align-items: center;
}
#drag-content {
	font-size: 2rem;
}
#pip {
	z-index: 504;
	width: 418px;
	background-color: var(--subcolor);
	position: absolute;
}
.pip-bottom {
	bottom: 10px;
}
.pip-left {
	left: 10px;
}
.pip-top {
	top: 10px;
}
.pip-right {
	right: 10px;
}
#pip-content .material-icons {
	display: none;
}
.big-text {
	font-size: 1.2rem;
}
#releasenote {
	background-color: var(--modal);
}
#releasenote li {
	list-style-type: disc;
}
@media only screen and (min-width: 993px) {
	#toast-container {
		top: auto;
		right: auto;
		bottom: 5%;
		left: 4%;
		max-width: 86%;
	}
}
.show {
	animation: show 0.2s linear 0s;
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.hide-anime {
	animation: hide 0.2s linear 0s;
	display: none;
}
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.collapsible-header,
.tabs {
	background-color: var(--subcolor);
}
.collapsible-header:focus {
	background-color: var(--subcolor) !important;
}
.modal-footer {
	background-color: var(--modalfooter) !important;
}
.font {
	font-size: 1.5rem;
	margin-bottom: 0.4rem;
}
.font:hover {
	background-color: #999;
}
.release-do {
	border: solid 2px;
	border-color: var(--color);
	padding: 5px;
}
#pickers {
	display: flex;
	flex-wrap: wrap;
}
#menu {
	position: fixed;
	z-index: 999;
	background-color: var(--postbox);
	width: 540px;
	top: calc(50% - 150px);
	left: calc(50% - 250px);
	padding: 0.4rem;
	border: thin solid gray;
	border-radius: 0.4rem;
	overflow: hidden;
}
#menu-wrapper {
	margin-left: -5px;
	display: flex;
	height: calc(100% - 3.5rem);
	overflow: hidden;
}
#left-menu {
	width: 17.7rem;
}
#left-menu a {
	padding-left: 0.4rem;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--color);
}
#left-menu a:hover {
	background-color: var(--beforehover);
}
#left-menu span {
	margin-left: 0.4rem;
}
#left-menu a.active {
	background-color: var(--emphasized);
}
#left-menu a.active span {
	text-decoration: underline;
}
#right-menu {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0.4rem;
}
#tltype {
	display: flex;
	flex-wrap: wrap;
}
#tltype .type {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 13rem;
	height: 3.1rem;
	cursor: pointer;
	color: var(--color);
}
#tltype .type span {
	width: calc(100% - 2.3rem);
}
#tltype .type:hover {
	background-color: var(--beforehover);
}
#tltype .active {
	background-color: var(--emphasized);
}
#tltype i {
	font-size: 2.3rem;
}
#tltype i.sub-icon {
	font-size: 1.53rem;
	position: absolute;
	color: var(--beforehover);
	left: 0.9rem;
	bottom: 0.4rem;
	background-color: #fff;
}
.drag-bar {
	cursor: move;
	text-align: center;
	width: calc(100% + 0.8rem);
	border-radius: 5px;
	background-color: var(--box);
	filter: brightness(80%);
	margin-left: -0.4rem;
	margin-right: -0.4rem;
	margin-top: -0.4rem;
	font-size: 1.3rem;
	padding: 0.3rem;
}
#something-wrong {
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
#support-btm {
	position: fixed;
	bottom: -300px;
	width: 100vw;
	background-color: var(--box);
	z-index: 9999;
	padding: 0.8rem;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	grid-template-rows: 1fr 2.7rem;
	grid-template-areas: 'note middle right' 'note close close';
}
#support-btm-en,
#support-btm-ja {
	grid-area: note;
}
#support-btm-middle {
	grid-area: middle;
}
#support-btm-right {
	grid-area: right;
}
#support-btm-close {
	grid-area: close;
}
.select-wrapper .dropdown-content {
	width: 19.2rem !important;
}
input,
textarea {
	color: var(--color);
	font-size: 1rem !important;
	font-family: inherit;
}
.swal2-popup {
	background-color: var(--notfbox) !important;
}
.swal2-title,
.swal2-content {
	color: var(--color) !important;
}
#src-contents svg {
	margin-right: 0.4rem;
}
.contributor {
	cursor: pointer;
}
.contributor img {
	width: 1rem;
}
.tagComp {
	display: grid;
	grid-template-columns: 4.6rem 6.15rem 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'svg toot user' 'svg toot tag' 'svg toots tag';
	border-top: dotted 0.5px var(--gray);
	padding: 0.4rem;
}
.tagCompSvg {
	grid-area: svg;
}
.tagCompToot {
	grid-area: toot;
	text-align: center;
}
.tagCompToots {
	grid-area: toots;
	text-align: center;
}
.tagCompUser {
	grid-area: user;
}
.tagCompTag {
	grid-area: tag;
	padding-top: 0.4rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#sabakanMark {
	background-color: var(--emphasized);
}
#pageSrc {
	position: absolute;
	top: 0;
	left: calc(50vw - 11.53rem);
	width: 23rem;
	max-width: 100%;
	background-color: var(--box);
	z-index: 501;
	padding: 0.4rem;
}
#pageSrcInput {
	width: 12.3rem;
}
.voice {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

@media (max-width: 500px) {
	#pageSrc {
		left: 0;
	}
}

/*スクロールバー*/
::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	background: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #607d8b;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* Web Fonts */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.84rem;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
.pwaView .pwa,
.pwaView .mac,
.pwaView .win {
	display: none;
}
.win32 .mac,
.linux .mac {
	display: none;
}
.linux .win,
.darwin .win {
	display: none;
}
.dropdown-content.header:hover {
	background-color: white;
}