/*トゥートボックス向けCSS*/
#post-box {
  display: none;
  position: fixed;
  left: calc(50vw - 150px);
  top: 50vh;
  background-color: var(--postbox);
  border: thin solid gray;
  z-index: 501;
  min-width: 300px;
  max-width: 100%;
  padding: 5px;
  border-radius: 5px;
}
textarea {
  min-height: 100px !important;
  font-family: inherit;
}

.cancel {
  font-size: 0.5rem;
  color: gray;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 4px;
}
.more-show {
  display: none;
}
#drag {
  width: 100%;
  height: 100px;
}
#post-btn {
  display: none;
}
#vis {
  text-transform: capitalize;
}
#cw-text {
  display: none;
}
#sch-box {
  display: none;
}
#sch-box input {
  width: auto;
}
.picker__close,
.picker__today,
.picker__clear {
  color: #26a69a !important;
}
.cw {
  display: none;
}
.sensitive {
  filter: blur(50px);
}
#emoji {
}
#suggest {
  max-height: 300px;
  overflow-y: scroll;
}
#emoji-list {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
#preview-field {
  display: none;
}
.preview-img {
  width: 50px;
  max-height: 100px;
}
.pi-wrap {
  display: inline-block;
  width: 50px;
  max-height: 100px;
}
#default-emoji a {
  color: var(--color);
  margin-right: 2px;
}
.character-counter {
  position: relative;
  top: -25px;
}
.trendtag {
  overflow-y: scroll;
  max-height: 100px;
}
#toot-btn-field {
  display: flex;
}
#toot-post-btn {
  width: calc(100% - 10px);
  padding: 0;
  margin-top: 10px;
}
#toot-sec-btn {
  width: 30px;
  padding: 0;
  margin-top: 10px;
}
#left-side {
  float: left;
  width: 300px;
}
#right-side {
  display: none;
  float: left;
  width: 300px;
  padding: 5px;
}
#poll {
}
.poll-provider {
  position: absolute;
  height: calc(100% - 90px);
  overflow-y: scroll;
  top: 90px;
}
#posttgl,#toot-post-btn {
  background-color: var(--accentbtn);
}
/*mini*/
.mini-post .mize {
  display: none !important;
}
.mini-post #textarea {
  padding: 0;
}
.mini-post #post-box {
  width: 200px;
  min-width: 100px;
}
.mini-post #toot-field {
  padding: 0;
}
.mini-post #toot-btn-field {
  padding: 0;
}
