/*トゥートボックス向けCSS*/
#post-box {
  position: fixed;
  right: 78px;
  bottom: 3px;
  background-color: white;
  border: thin solid gray;
  z-index: 500;
  width: 350px;
  min-width:350px;
  max-width:100%;
  padding: 5px;
}
.cancel {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 0.5rem;
  color: gray;
  cursor: pointer;
}
.more-show {
  display: none;
}
#drag {
  width: 100%;
  height: 100px;
  background-color: #e0e0e0;
  color: black;
}
#post-btn {
  display: none;
}
#vis {
  text-transform: capitalize;
}
#cw-text {
  display: none;
}
.cw {
  display: none;
}
.sensitive {
  filter: blur(50px);
}
#emoji {
  position: fixed;
  bottom: 120px;
  right: 20px;
  width: 300px;
  height: 440px;
  z-index: 502;
  padding: 5px;
}
#emoji-list {
  width: 100%;
  height: calc(100% - 190px);
  overflow-y: scroll;
}
#preview-field {
  display: none;
}
#default-emoji a{
  color:white;
  margin-right:2px;
}
.character-counter{
  position: relative;
  top: -25px;
}


/*black theme*/
.blacktheme #post-box {
  background-color: #424242;
}
/*indigo theme*/
.indigotheme #post-box {
  background-color: #1a237e ;
}
/*brown theme*/
.browntheme #post-box {
  background-color: #4e342e;
}
/*
.blacktheme #drag {
  width: 100%;
  height: 100px;
  background-color: #004d40;
  color: white;
  padding: 3px;
}
*/


/*mini*/
.mini-post .mize{
  display:none !important;
}
.mini-post #textarea{
  padding:0;
}
.mini-post #post-box{
  width:200px;
  min-width:100px;
}
.mini-post #toot-field{
  padding:0;
}
.mini-post #toot-btn-field{
  padding:0;
}