/*TL CSS(ただしBBCode pulse:master.css/spin:font-awesome*/
#main {
	width: 100vw;
	height: calc(100% - 3rem);
}
#timeline-container {
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	height: 100%;
}
#bottom {
	position: absolute;
	overflow: hidden;
	bottom: 0;
	width: 100vw;
	height: 3rem;
	padding: 0.23rem;
	padding-right: 0;
	padding-left: 3rem;
	background-color: var(--bottom);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 500;
	box-shadow: 0.77rem 0 0.77rem, 0.77rem rgba(0, 0, 0, 0.2);
}
#demobottom {
	width: 500px;
	display: flex;
}
#bottom.reverse {
	padding-left: 0;
	padding-right: 3rem;
}
.reverse {
	flex-direction: row-reverse;
}
#bottom #dambox {
	width: 23rem;
	margin-right: 0.76rem;
}
#bottom.reverse #dambox {
	margin-right: 0;
}
#bottom .trendtag {
	height: 3rem;
}
#bottom #group,
#demogroup {
	margin-right: 3rem;
}
#bottom .leftside {
	display: flex;
}
#tips {
	display: flex;
	align-items: center;
}
#bottom #tips img {
	vertical-align: -0.23rem;
}
#bottom a,
#demogroup a {
	color: var(--text);
}
#bottom i {
	font-size: 2.3rem;
}
.exc-icons {
	font-size: 1.53rem;
}
.exc-chb {
	padding-left: 1.84rem !important;
}
.btnsgroup {
	border: 1px solid;
	padding-top: 1px;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	margin-right: 1.15rem;
	border-radius: 0.4rem;
	height: 2.7rem;
}
.bgReport {
	height: 2.61rem;
	padding-top: 0.45rem;
	text-decoration: underline;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
#spot-box {
	display: grid;
	grid-template-columns: 3rem 2.3rem 2.5fr 1fr 4.6rem;
	grid-template-rows: 1.7rem 1.5rem;
	grid-template-areas: 'cover name name name refresh' 'cover progress progress progress time';
}
#spot-refresh {
	grid-area: refresh;
}
#spot-cover {
	grid-area: cover;
}
#spot-name {
	grid-area: name;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.92rem;
}
#spot-img {
	width: 90%;
}
#spot-time {
	grid-area: time;
	line-height: 0.5rem;
}
.progress {
	grid-area: progress;
	width: 100%;
}
.btnsgroup .grouptitle {
	font-family: Open Sans;
	font-size: 1.1rem;
}
@media screen and (max-width: 890px) {
	.btnsgroup .grouptitle {
		display: none;
	}
	#tips,
	#tips-menu {
		display: none;
	}
}
iframe,
.cvo video {
	max-width: 100%;
	max-height: 23rem;
}
@media screen and (max-width: 600px) {
	.mobile #timeline-container {
		display: block;
		overflow-x: hidden;
	}
	.mobile .box {
		width: 100vw;
	}
	.mobile .fixed-action-btn {
		position: absolute;
	}
}
.box {
	overflow: hidden;
	min-width: 300px;
	max-width: 600px;
	flex: 1;
	border-top: none;
	display: flex;
	flex-direction: column;
	margin-bottom: -0.75rem;
}
.img_FTL {
	display: none;
}
.bbcode_FTL {
	display: none;
}
.marquee {
	width: 100%;
	padding: 0.5em 0;
	overflow: hidden;
	margin-bottom: 0;
	position: relative;
}
.marquee .bbcode-marq-lateral {
	margin: 0;
	padding-left: 100%;
	display: inline-block;
	white-space: nowrap;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes marquee {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	99%,
	100% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
	}
}
.boxIn {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: thin solid gray;
	overflow: hidden;
	border-top: none;
}
.box .pin,
#his-data .pin {
	display: none;
}
.user {
	cursor: text;
	font-size: 1.1rem;
}
.emoji,
.emoji-img {
	width: 1.153rem;
	height: 1.153rem;
	object-fit: cover;
}
.area-toot .emoji,
.area-toot .emoji-img {
	width: 1.538rem;
	height: 1.538rem;
	object-fit: cover;
	vertical-align: middle;
	margin: -1px 0;
}
.bigemoji {
	width: 7.7rem !important;
	height: auto !important;
	position: relative;
	z-index: 9999;
}
.faicon_FTL {
	display: none;
}
.tl-box {
	position: relative;
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}
.additional {
	overflow-x: scroll;
	width: 100%;
}
.media-filter .nomedia {
	display: none;
}
.bt-filter .shared {
	display: none;
}
.except-bt-filter .unshared {
	display: none;
}
.cvo {
	user-select: text;
	padding-left: 0.4rem;
	border-bottom: 0.5px solid;
	padding-right: 0.15rem;
	word-break: break-word;
	width: 100%;
	display: grid;
	grid-template-columns: 3.3rem 2fr 1fr;
	grid-template-rows: auto 1.6rem 1fr auto 1.9rem;
	grid-template-areas: 'notice notice notice' 'icon display_name display_name' 'space toot toot' 'space additional additional' 'vis actions side';
}
.hide-actions {
	grid-template-rows: auto 1.6rem 1fr auto 0;
}
.hide-actions .area-actions {
	display: none;
}
.hide-actions .area-vis {
	display: none;
}
.hide-actions .area-side {
	display: none;
}
.cvo h1,
.cvo h2,
.cvo h3,
.cvo h4,
.cvo h5,
.cvo h6 {
	margin: 0;
}

.area-notice {
	margin: 0.15rem;
	grid-area: notice;
}

.area-icon {
	width: 3rem;
	margin: 0.15rem;
	grid-area: icon;
}

.area-display_name {
	user-select: text;
	height: 1.5em;
	margin: 0.15rem;
	margin-left: 0.4rem;
	overflow: hidden;
	grid-area: display_name;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: nowrap;
}
.flex-name {
	max-width: calc(100% - 4.6rem);
	overflow: hidden;
	text-overflow: ellipsis;
}

.area-toot {
	cursor: text;
	user-select: auto;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	margin-left: 0.4rem;
	grid-area: toot;
}

.area-date_via {
	text-align: right;
	grid-area: date_via;
}

.area-additional {
	cursor: text;
	user-select: auto;
	grid-area: additional;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.acct-note p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.area-toot.acct-note p:not(:first-child) {
	display: none;
}
.area-toot.acct-note p:first-child:after {
	content: '...';
	color: var(--gray);
}

.area-actions {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	max-width: 100%;
	grid-area: actions;
}
.area-actions .btn-flat {
	height: 1.3rem;
    line-height: 1.3rem;
}
.area-actions .btn-flat,
.area-vis i,
.area-side .btn-flat {
	margin: 0;
}
.area-side i {
	line-height: initial;
}

.area-vis {
	margin: 0.2rem;
	grid-area: vis;
	text-align: center;
}
.area-side {
	display: flex;
	top: -0.4rem;
	position: relative;
	justify-content: flex-end;
	margin: 0.15rem;
	grid-area: side;
}
.notf-udg-text {
	white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    max-width: calc(100% - 150px);
    display: inline-block;
}
.cusr {
	user-select: text;
	padding-left: 0.4rem;
	border-bottom: 0.5px solid;
	padding-right: 0.15rem;
	word-break: break-word;
	width: 100%;
	display: grid;
	grid-template-columns: 3.3rem 2fr 1fr;
	grid-template-rows: auto 1.6rem 2fr auto;
	grid-template-areas: 'notice notice notice' 'icon display_name display_name' 'space status status' 'space actions actions';
}

.area-status {
	grid-area: status;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
}

.cusr .cbadge {
	margin-top: 0.46rem;
	margin-left: 0.46rem;
}

.quote-inline {
	display: none;
}
.quote-renote {
	display: grid;
	grid-template-columns: 3.3rem 2fr 1.92rem;
	grid-template-areas: 'ricon ruser rdet' 'ricon rtext rdet';
	border: 1px solid;
	margin-top: 0.23rem;
	padding: 1px;
	border-radius: 0.23rem;
}
.renote-icon {
	grid-area: ricon;
	padding: 0.4rem;
}
.renote-details {
	grid-area: rdet;
}
.renote-icon img {
	width: 100%;
}
.renote-user {
	grid-area: ruser;
}
.renote-text {
	grid-area: rtext;
}

.btn-flat {
	color: var(--text);
}
.area-side i {
	margin-left: 0.75rem;
}
.viabadge {
	margin-top: 0.75rem;
}
.action i {
	font-size: 1.2rem;
	margin-right: 0.15rem;
}
.action .fa-quote-right {
	margin-top: 0.15rem;
}
.actct {
	color: var(--beforehover);
}
.actct:hover {
	color: var(--text);
	transition: 0.5s;
}
.contextMenu.dropdown-content {
	padding-top: 5px;
	overflow-y: hidden;
	left: calc(100% - 200px) !important;
	width: 200px !important;
}
.gray {
	color: var(--gray);
}
.sml {
	font-size: 0.8em;
}
.toot {
	overflow: hide;
}
.toot-img {
	object-fit: cover;
	width: 100%;
}
.toot img:not(.emoji-img) {
	max-width: 100%;
	max-height: 23rem;
}
.cbadge {
	display: inline-block;
	min-width: 0.76rem;
	max-width: 7.7rem;
	padding: 0.23rem 0.5rem;
	font-size: 0.8em;
	margin-right: 0.4rem;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 0.75rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: calc(0.8em + 0.6rem);
	user-select: none;
}
.cbadge-hover {
	color: var(--text);
	background-color: transparent;
}
.cbadge-hover:hover {
	color: #fff;
	background-color: #777;
}
p {
	margin: 0;
	margin-bottom: 0px;
	line-height: 1.53rem;
}
p:not(:last-child) {
	margin-bottom: 0.76rem;
}
.shared {
	background-color: var(--accent);
}
.emphasized {
	background-color: var(--emphasized);
}
.udg {
	cursor: pointer;
}
.notice-box {
	top: 0;
	background-color: var(--subcolor);
	filter: brightness(110%);
	position: relative;
	margin-right: 0.7rem;
	width: 100%;
	min-height: 4.6rem;
	z-index: 500;
	padding: 0.4rem;
	display: grid;
	grid-template-columns: 3rem 5rem 1fr 1.8rem;
	grid-template-rows: 2.3rem 2.3rem;
	grid-template-areas: 'notice notice_name notice_name a2' 'notice a1 sta a3' 'notf-box notf-box notf-box notf-box';
}
.small-header.notice-box {
	min-height: 2rem;
	grid-template-columns: 2.3rem 1fr 5rem 2rem 2rem;
	grid-template-rows: 1.8rem;
	grid-template-areas: 'notice notice_name a1 a3 a2';
}
.small-header.has-notf.notice-box {
	min-height: 2rem;
	grid-template-columns: 2.3rem 1fr 8rem 5rem 2rem 2rem;
	grid-template-rows: 1.8rem;
	grid-template-areas: 'notice notice_name sta a1 a3 a2';
}
.emp {
	font-weight: bold;
	text-decoration: underline;
}
.rotate-90 {
	transform: rotate(90deg);
}
.area-notice {
	grid-area: notice;
}
.small-header .area-notice {
	margin: 0;
}
.small-header .area-sta {
	display: none;
}
.small-header.has-notf .area-sta {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 2rem;
	width: 8rem;
	display: flex;
}
.small-header .area-sta::-webkit-scrollbar {
	height: 5px;
}
#tagContextMenu {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--subcolor);
	z-index: 2;
	border-radius: 0.4rem;
}
#tagContextMenu a {
	display: block;
	color: var(--text);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
#tagContextMenu a:hover {
	background-color: var(--selected);
}
.firstTCM {
	margin-top: 0.4rem;
}
.lastTCM {
	margin-bottom: 0.4rem;
}
.area-notice_name {
	grid-area: notice_name;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.area-notice_acct {
	grid-area: notice_acct;
}

.area-a1 {
	grid-area: a1;
}
.area-sta {
	display: none;
}
.has-notf .area-sta {
	display: block;
	text-align: center;
	grid-area: sta;
}
.area-a2 {
	text-align: center;
	grid-area: a2;
}

.area-a3 {
	text-align: center;
	grid-area: a3;
}
.tl-title {
	font-family: Open Sans;
}
#tools {
	position: fixed;
	top: 0.76rem;
	right: 0.76rem;
	float: right;
}
.setting {
	font-size: 0.6rem;
	color: gray;
	cursor: pointer;
}
#toot-this .details {
	display: none;
}
.notf-box {
	position: fixed;
	right: 5.4rem;
	background-color: var(--subcolor);
	border: thin solid gray;
	z-index: 501;
	width: 30rem;
	padding: 0.4rem;
	min-height: 7.7rem;
	max-height: 38.4rem;
}
.column-hide {
	display: none;
	overflow: hidden;
	height: 0;
}
.prof-img {
	border-radius: 0.23rem;
	width: 3rem;
}
.prof-img-sml {
	width: 1.5rem;
}
.notf-icon {
	position: relative;
	top: -1.53rem;
	width: 1.5rem;
	left: 1.5rem;
}
.notf-indv-box {
	width: 100%;
	max-height: 30.7rem;
	overflow-y: scroll;
	overflow-x: hidden;
	border: thin solid gray;
	border-bottom: 2px solid white;
	grid-area: notf-box;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3), 0px -10px 10px 0px rgba(0, 0, 0, 0.3) inset;
}
.notf-indv-box label span {
	padding-left: 23px !important;
	margin-right: 5px;
}
.columnSettings {
	display: flex;
	flex-wrap: wrap;
}
.notf-indv-box .setting {
	font-size: 1rem;
    width: calc(25% - 6px);
    margin: 3px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    border: 1px solid;
    border-radius: 5px;
}
.notf-indv-box .setting:hover {
	color: var(--text);
}
.notf-exclude-btn {
	border: 1px solid;
}
.notf-exclude-btn:hover {
	background-color: inherit !important;
	filter: brightness(70%);
}
.type-b {
	display: none;
}
.modal-footer {
	background-color: var(--subcolor);
}
.ballons {
	background-color: var(--subcolor);
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.toot a span.ellipsis:after {
	content: '...';
}
.toot a:not(.mention) span:last-of-type {
	/*display: none;*/
}
.tl-box .via-hide {
	display: none;
}
.vote {
	width: 100%;
	border: 1px solid;
	margin-top: 0.23rem;
	padding: 1px;
	border-radius: 0.23rem;
	overflow: hidden;
	position: relative;
}
.dropdown-content li {
    padding-top: 0.4rem;
}
.fa-2x > .emoji-img {
	width: 2.3rem !important;
	height: 2.3rem !important;
}
.fa-3x > .emoji-img {
	width: 4.15rem !important;
	height: 4.15rem !important;
}
.fa-4x > .emoji-img {
	width: 4.6rem !important;
	height: 4.6rem !important;
}
.fa-5x > .emoji-img {
	width: 6.9rem !important;
	height: 6.9rem !important;
}
#lists-user {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 15.4rem;
}
.votebtn {
	border: 1px solid;
	color: var(--bg);
	background-color: var(--beforehover);
	cursor: pointer;
	width: 3.8rem;
	height: 1.7rem;
	display: inline-block;
	text-align: center;
	margin-top: 0.38rem;
	border-radius: 0.75rem;
	transition-duration: 0.5s;
}
.votebtn:hover {
	background-color: var(--text);
}
.leadPoll {
	position: absolute;
	background-color: var(--subcolor);
	height: 1.5rem;
	border-radius: 0.23rem;
}
.lpAnime {
	animation-duration: 1s;
	animation-name: fadeInLeft;
}
.onPoll {
	position: relative;
}
.maxVoter {
	background-color: var(--emphasized);
	filter: brightness(120%);
}
.ownMark img {
	width: 1.2rem !important;
	position: relative;
	top: -1px;
	margin-left: 0.38rem !important;
}
.jump {
	display: inline-block;
	animation: jump 0.75s linear infinite;
}
.img-link {
	position: relative;
	display: block;
	margin-right: 1px;
	float: left;
	overflow: hidden;
}
.nsfw-media {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	color: white;
}
.img-link img {
	display: block;
	width: 100%;
	height: 100%;
}
.fav_ct,
.rt_ct,
.rep_ct {
	font-size: 1.1rem;
}
.shared.selectedToot {
	background-color: var(--selectedWithShare);
}
.selectedToot {
	background-color: var(--selected);
}
audio {
	height: 2rem;
}
.translate {
	white-space: normal;
}
.cw_btn {
	margin: 0.23rem;
	background-color: var(--emphasized);
	color: var(--text);
	padding-left: 0.23rem;
	padding-right: 0.23rem;
	border-radius: 0.23rem;
	border: 1px solid var(--text);
	user-select: none;
}
.vis-data {
	font-size: 1rem !important;
	margin: 0.4rem;
	user-select: none;
}
@keyframes jump {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-16px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-8px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.box-anime {
	/*animation-duration: 1s;
  animation-name: fadeInLeft;*/
}

.cvo-anime {
	animation-duration: 0.1s;
	animation-name: fadeInDown;
}
.urbadge {
	line-height: normal;
	height: 2rem;
	font-size: 1rem;
	background-color: #009688;
}
.box .ui-resizable-s {
	display: none !important;
}
.boxIn .ui-resizable-e {
	display: none !important;
}
.boxIn .ui-resizable-s {
	display: block !important;
}
.box .ui-resizable-se {
	display: none !important;
}
.small-header .top-icon {
	font-size: 2rem !important;
	padding-top: 0%;
}
.top-icon {
	font-size: 40px !important;
	padding-top: 25%;
}
.announcement {
	padding: 0.38rem;
	border-bottom: 1px solid;
}
.announReaction {
	width: 2.7rem;
	height: 1.7rem;
	font-size: 1.1rem;
	margin: 0.23rem;
	cursor: pointer;
	border: solid 1px;
	padding-left: 0.15rem;
	background-color: var(--subcolor);
	border-radius: 0.15rem;
}
.announReaction img {
	position: relative;
	top: 0.23rem;
}
.announReaction.reactioned {
	background-color: var(--emphasized);
}
.announReaction.add {
	width: 1.46rem;
}
.reactionsPack {
	display: flex;
}
