/*アイコンをクリックした時とかにでてくるユーザーデータ*/
#his-data {
  background-repeat: no-repeat;
  background-image: url("../../loading.svg");
  overflow-y: hidden;
}
#his-name {
  font-size: 1.5rem;
}
#his-prof {
  float: left;
  width: 100px;
  margin-right: 5px;
}
.his-float {
  float: left;
  overflow-y: scroll;
  padding: 5px;
}
#his-float-data {
  width: 400px;
  height: 100%;
}
#his-float-timeline {
  width: calc(100% - 400px);
  height: 100%;
  overflow-y: hidden;
}
#his-basic-prof {
  min-height: 130px;
}
#his-matching-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
#his-field {
  vertical-align: baseline;
  text-align: center;
  padding: 0;
}
#his-field tr {
  height: 1.5rem;
}
.his-field-title {
  height: 1.5rem;
  padding: 0;
  background-color: #757575;
  text-align: center;
  padding: 5px;
  margin-bottom: 1px;
  width: 30%;
}
.his-field-content {
  height: 1.5rem;
  padding: 0;
  padding-left: 5px;
}
#his-data a span.ellipsis:after {
  content: "...";
}
#his-data a:not(.mention) span:last-of-type {
  display: none;
}
#his-data-show {
  margin: 20px;
  background-color: var(--his-data);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-bottom: 0;
  padding: 5px;
}
.tab-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 240px);
}
.my-data-width {
  width: 10%;
}
.active-back {
  background-color: var(--active);
}
#his-name .emojione,
#his-name .emoji-img {
  width: 20px;
}
#his-plus-action .btn {
  width: 170px;
}
.custom-tabs {
  display: flex;
}
.custom-tabs .custom-tab a {
  padding: 8px 12px;
}
#his-des .mention {
  color: #039be5;
  cursor: pointer;
}
#his-float-blocked {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 90%;
  height: 100%;
  position: absolute;
}
