/*アイコンをクリックした時とかにでてくるユーザーデータ*/
#his-data {
  background-repeat: no-repeat;
  background-image: url("../../loading.svg");
  overflow-y: hidden;
}
#his-data-content {
  display: flex;
  justify-content: center;
}
#his-name {
  font-size: 1.5rem;
}
#his-prof {
  float: left;
  width: 100px;
  margin-right: 5px;
}
.his-float {
  overflow-y: scroll;
  padding: 5px;
}
#his-float-data {
  height: 100%;
}
#his-leftside {
  width: 500px;
}
#his-float-timeline {
  max-width: 775px;
  height: 100%;
  overflow-y: hidden;
}
#his-basic-prof {
  min-height: 130px;
}
#his-matching-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
#his-field {
  vertical-align: baseline;
  text-align: center;
  padding: 0;
}
#his-field tr {
  height: 1.5rem;
}
.his-field-title {
  height: 1.5rem;
  padding: 0;
  background-color: #757575;
  text-align: center;
  padding: 5px;
  margin-bottom: 1px;
  width: 30%;
}
.his-field-content {
  height: 1.5rem;
  padding: 0;
  padding-left: 5px;
}
#his-data a span.ellipsis:after {
  content: "...";
}
#his-data a:not(.mention) span:last-of-type {
  display: none;
}
#his-data a .rep_ct,
#his-data a .rt_ct,
#his-data a .fav_ct {
  display: inline !important;
}
#his-data-show {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--his-data);
  height: calc(100% - 20px);
  margin-bottom: 0;
  padding: 5px;
}
#his-data-wrap {
  display: flex;
}
.his-var-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 45px);
}
#my-data-nav .btn {
  width: 140px;
}
.active-back {
  background-color: var(--active);
}
#his-name .emojione,
#his-name .emoji-img {
  width: 20px;
}
#his-plus-action .btn {
  width: 170px;
}
.tabs {
  display: flex;
}
.tabs .tab a {
  padding: 8px 12px;
}
#his-des .mention {
  color: #039be5;
  cursor: pointer;
}
#his-float-blocked {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}
#hisdropdown{
  background-color: var(--bg);
}
#hisdropdown li:hover{
  background-color: var(--active);
}