<!doctype html>
<html lang="en">

<head>
    <title>Update - TheDesk</title>
    <link href="../../css/materialize.css" type="text/css" rel="stylesheet">
    <link href="../../css/master.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Open+Sans:300" rel="stylesheet">
    <meta charset="utf-8">
    <!--
    <script type="text/javascript">
        var _jipt = [];
        _jipt.push(['project', 'thedesk']);
    </script>
    <script type="text/javascript" src="https://cdn.crowdin.com/jipt/jipt.js"></script>
    -->
</head>

<body>
    <style>
        body {
            font-family: 'Open Sans';
            -webkit-app-region: drag;
            cursor: move;
            padding: 10px;
            text-align: right;
        }

        #start {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: calc(100vh - 2.5rem);
            text-align: center;
        }

        #checkbox {
            text-align: left;
        }

        a,
        button,
        input,
        label,
        i {
            -webkit-app-region: no-drag;
        }

        #updskip {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .skipbtn {
            display: block;
            float: left;
            width: 200px;
            height: 200px;
            border: 1px solid;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            overflow: hidden;
        }

        .skipbtn:hover {
            background-color: #b3e5fc;
            transition: all 0.3s ease-in-out;
        }

        #prog {
            font-size: 200%;
        }
    </style>
    <script type="text/javascript" src="../../js/common/jquery.js"></script>
    <script type="text/javascript" src="../../js/platform/first.js"></script>
    <script type="text/javascript" src="../../js/common/materialize.js"></script>
    <i class="material-icons pointer waves-effect" onclick="about();">info</i>
    <i class="material-icons pointer waves-effect" onclick="skipper();">clear</i>
    <!--a href="update.html">Reload</a-->
    <div id="start">
        <div id="box" class="show">
            <h2>TheDesk</h2>
            <p>Get latest TheDesk</p>
            <span id="now"></span>→<b id="ver"></b><br>
            <span id="det"></span><br>
            <button class="waves-effect btn windows hide" onclick="update('install')"
                style="margin-left:15px;">Installer ver.</button>
            <button class="waves-effect btn windows hide" onclick="update('portable')"
                style="margin-left:15px;">Portable ver.</button>
            <button class="waves-effect btn linux hide" onclick="update('linux')"
                style="margin-left:15px;">Start</button>
            <button class="waves-effect btn mac hide" onclick="update('mac')"
                style="margin-left:15px;">Start</button>
            <br>
            Some problems?<br>Please download on <a href="https://thedesk.top">Oficial HP</a>.
        </div>
        <div id="skipper" class="hide">
            <h4>You may lose a cool experience!</h4>
            Skip this update<br>
            <div id="updskip">
                <a onclick="window.close();" class="pointer skipbtn waves-effect waves-light">
                    <div>Until next TL loading</div>
                </a>
                <a onclick="nextv();" class="pointer skipbtn waves-effect waves-light">
                    <div>Until next version</div>
                </a>
            </div>
            <a class="pointer waves-effect" onclick="skipper();" style="margin-top:5px">Continue updating</a>
        </div>
        <div id="dlnow" class="hide">
            <h4>Downloading...</h4>
            <h4 id="prog"></h4>
            <div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../js/common/about.js"></script>
    <script type="text/javascript" src="../../js/platform/end.js"></script>
    <script>
        function skipper() {
            $("#dlnow").addClass("hide");
            $("#box").toggleClass("show");
            if ($("#box").hasClass("hide") && $("#skipper").hasClass("hide")) {
                $("#skipper").removeClass("hide");
                $("#skipper").addClass("show");
            } else {
                $("#box").toggleClass("hide");
                $("#skipper").toggleClass("hide");
                $("#skipper").toggleClass("show");
            }
        }
        verck();
        function update(sel) {
            $("#box").toggleClass("show");
            $("#box").toggleClass("hide");
            $("#dlnow").toggleClass("hide");
            $("#dlnow").toggleClass("show");
            $("#prog").text("");
            var remote = electron.remote;
            var bit = process.arch;
            var start = "https://thedesk.top/ver.json";
            fetch(start, {
                method: 'GET',
                headers: { 'content-type': 'application/json' },
            }).then(function (response) {
                return response.json();
            }).catch(function (error) {
                todo(error);
                console.error(error);
            }).then(function (json) {
                if (sel == "install") {
                    if (bit == "x64") {
                        var url = json["winx64"];
                        var file = "TheDesk-setup.exe";
                    } else if (bit == "ia32") {
                        var url = json["winia32"];
                        var file = "TheDesk-setup-ia32.exe";
                    }
                } else if (sel == "portable") {
                    if (bit == "x64") {
                        var url = json["winx64p"];
                        var file = "TheDesk.exe";
                    } else if (bit == "ia32") {
                        var url = json["winia32p"];
                        var file = "TheDesk-ia32.exe";
                    }
                } else if (sel == "linux") {
                    if (bit == "x64") {
                        var url = json["linuxx64"];
                        var file = "TheDesk-linux-x64.zip";
                    } else if (bit == "ia32") {
                        var url = json["linuxia64"];
                        var file = "TheDesk-linux-ia32.zip";
                    }
                } else if (sel == "mac") {
                    var url = json["mac"];
                    shell.openExternal(url);
                    return false;
                }
                postMessage(["downloadButton", [url, file]], "*")
            });

        }
        function quit() {
            postMessage(["sendSinmpleIpc", "quit"], "*")
        }
        function updateProg(arg) {
            console.log(arg);
            $(".determinate").css("width", arg * 100 + "%");
            $("#prog").text(Math.floor(arg * 100) + "%");
        }
        function updateMess(arg) {
            console.log(arg);
            $("#prog").text(arg);
        }
        function verck() {
            var remote = electron.remote;
            var platform = remote.process.platform;
            var bit = process.arch;
            if (platform == "win32") {
                $('.windows').removeClass("hide")
            } else if (platform == "linux") {
                $('.linux').removeClass("hide")
            } else if (platform == "darwin") {
                $('.mac').removeClass("hide")
            }
            var start = "https://thedesk.top/ver.json";
            fetch(start, {
                method: 'GET',
                headers: { 'content-type': 'application/json' },
            }).then(function (response) {
                return response.json();
            }).catch(function (error) {
                todo(error);
                console.error(error);
            }).then(function (json) {
                console.log(json);
                if (platform == "win32") {
                    $("#ver").text(json.desk);
                    localStorage.setItem("next-ver", json.desk);
                } else if (platform == "linux") {
                    $("#ver").text(json.desk_linux);
                    localStorage.setItem("next-ver", json.desk_linux);
                } else if (platform == "darwin") {
                    $("#ver").text(json.desk_mac);
                    localStorage.setItem("next-ver", json.desk_mac);
                }
                var lang = "en";
                if (lang == "ja") {
                    $("#det").html(json.detail);
                } else {
                    $("#det").html(json.detail_en);
                }

                $("#now").text(localStorage.getItem("ver"));

            });
        }
        function nextv() {
            localStorage.setItem("new-ver-skip", "true");
            window.close();
        }
        function enc(ver) {
            var ver = ver.replace(/\s/g, "");
            var ver = ver.replace(/\(/g, "-");
            var ver = ver.replace(/\)/g, "");
            var ver = ver.replace(/\[/g, "_");
            var ver = ver.replace(/\]/g, "");
            return ver;
        }
    </script>