<!doctype html>
<html lang="@@lang@@">

<head>
	<link href="../../css/themes.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="../../js/ui/theme.js"></script>
	<meta content="width=device-width,initial-scale=1.0" name="viewport">
	<link href="../../node_modules/materialize-css/dist/css/materialize.css" type="text/css" rel="stylesheet">
	<link href="../../node_modules/jquery-ui-dist/jquery-ui.min.css" type="text/css" rel="stylesheet">
	<link href="../../css/tl.css" rel="stylesheet" type="text/css">
	<link href="../../css/userdata.css" rel="stylesheet" type="text/css">
	<link href="../../css/post.css" rel="stylesheet" type="text/css">
	<link href="../../css/master.css" type="text/css" rel="stylesheet">
	<link href="../../css/sort.css" rel="stylesheet" type="text/css">
	<link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" rel="stylesheet">
	<meta charset="utf-8">
	@@comment-start@@
	<script type="text/javascript">
		var _jipt = [];
		_jipt.push(['project', 'thedesk']);
	</script>
	<script type="text/javascript" src="https://cdn.crowdin.com/jipt/jipt.js"></script>
	@@comment-end@@
	<link href="../../../manifest.json" rel="manifest">
</head>

<body>
	<script>
		var ver = "@@versionLetter@@";
		var gitHash = "@@gitHash@@"
		//betaを入れるとバージョンチェックしない
		//GitHubに上げるときはindex.htmlをちゃんとする。(index.start.html)
		//var ver="beta";
		//WinstoreではバージョンCK・言語・Misskeyトークンの機能が排除
		var acct_id = 0;
		var tlid = 0;
	</script>
	<textarea id="copy" style="top:-100px; position:fixed;"></textarea>
	<canvas id="canvas" style="top:-100px; position:fixed;width:32px;height:32px" width="32" height="32"></canvas>
	<div id="tl">
		<!--TL-->
		<!--ドラッグハンドラ-->
		<div id="drag">
			<div id="drag-content" data-trans="drag_here">@@draghere@@
				<br>
				<button class="btn waves-effect" onclick="closedrop()" data-trans="close">@@close@@</button>
			</div>
		</div>
	</div>
	<div id="post-box" class="z-depth-5">
		<div id="post-bar" class="drag-bar"><span id="unreact">@@post-new@@</span><span id="addreact"
				class="hide">Reaction</span></div>
		<!--トゥートボックス-->
		<div id="left-side">
			<div class="row" style="margin-bottom:0;">
				</span>
				<div class="" style="float:left;">
					<a onclick="profShow()" style="vertical-align:-1.7rem;" class="pointer mize">
						<img src="../../img/missing.svg" id="acct-sel-prof" title="@@showSelectProf@@(Ctrl+Shift+P)"
							data-trans-title="post_box_prof" width="24px">
					</a>
				</div>
				<div class="input-field mize" style="float:left; width:calc(100% - 24px); margin-top:0;">
					<select id="post-acct-sel" class="acct-sel" onchange="mdCheck()"></select>
				</div>
				<span class="cancel">
					<i class="material-icons waves-effect" onclick="hide()" title="@@closeThisBox@@(X)"
						data-trans-title="post_box_close">cancel</i>
				</span>
				<!--Markdown-->
				<div class="row" style="margin-bottom:0">
					<div class="markdown mize hide">
						<div class="col s12">
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('b')"
								title="太字(Ctrl+B)テキストボックス内を選択してから押すと囲みます。">format_bold</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('i')"
								title="斜字(Ctrl+I)テキストボックス内を選択してから押すと囲みます。">format_italic</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('u')"
								title="下線(Ctrl+U)テキストボックス内を選択してから押すと囲みます。">format_underlined</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('s')"
								title="取り消し(Ctrl+S)テキストボックス内を選択してから押すと囲みます。">strikethrough_s</i>
							<i class="material-icons pointer setting waves-effect" onclick="markdown('>','no','yes')"
								title="引用">format_quote</i>
							<i class="material-icons pointer setting waves-effect" onclick="markdown('#','no','yes')"
								title="見出し">short_text</i>
							<i class="material-icons pointer setting waves-effect" onclick="markdown('`','yes','no')"
								title="コード挿入　テキストボックス内を選択してから押すと囲みます。">code</i>
							<i class="material-icons pointer setting waves-effect" onclick="markdown('- ','yes','yes')"
								title="箇条書きリスト">format_list_bulleted</i>
							<i class="material-icons pointer setting waves-effect" onclick="markdown('1. ','yes','yes')"
								title="番号付きリスト">format_list_numbered</i>
							<i class="pointer setting fa fa-subscript waves-effect"
								onclick="markdown('__','yes','no','before')" title="下付き文字　テキストボックス内を選択してから押すと囲みます。"
								style="font-size:1.5rem"></i>
							<i class="pointer setting fa fa-superscript waves-effect"
								onclick="markdown('_','yes','no','before')" title="上付き文字　テキストボックス内を選択してから押すと囲みます。"
								style="font-size:1.5rem"></i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('spin')"
								title="回転　テキストボックス内を選択してから押すと囲みます。">autorenew</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('pulse')"
								title="点滅　テキストボックス内を選択してから押すと囲みます。">flare</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('flip=vertical')"
								title="上下反転　テキストボックス内を選択してから押すと囲みます。">swap_vert</i>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('flip=horizontal')"
								title="左右反転　テキストボックス内を選択してから押すと囲みます。">swap_horiz</i>
							<span class="sml gray pointer waves-effect">
								<a onclick="mdToggle()">Markdownエディタを隠す</a>
							</span>
							<br>
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('size')"
								title="文字サイズ変更　テキストボックス内を選択してから押すと囲みます。">format_size</i>
							<input id="size" style="width: calc(50% - 20px); margin: 0; height: 24px;" value="12">px
							<i class="material-icons pointer setting waves-effect" onclick="tagsel('colorhex')"
								title="文字色変更　テキストボックス内を選択してから押すと囲みます。">color_lens</i>
							<input id="colorhex" style="width: calc(50% - 50px); margin: 0; height: 24px;" type="color">
							<br>
							<i class="material-icons pointer setting waves-effect" onclick="markdownLink()"
								title="リンク挿入">link</i>
							<input id="linkt" style="width: calc(50% - 20px); margin: 0; height: 24px;"
								placeholder="リンクテキスト">&nbsp;
							<input id="link2" style="width: calc(50% - 20px); margin: 0; height: 24px;"
								placeholder="リンクアドレス">
							<br>
							<i class="material-icons pointer setting waves-effect" onclick="markdownImage()"
								title="インライン画像挿入">image</i>
							<input id="image" style="width: calc(50% - 20px); margin: 0; height: 24px;"
								placeholder="代替テキスト">&nbsp;
							<input id="image2" style="width: calc(50% - 20px); margin: 0; height: 24px;"
								placeholder="画像アドレス">
						</div>
					</div>
					<div class="input-field col s12" id="preview-field" style="margin-top: 0;">
						<div id="md-preview">
						</div>
						<span class="sml gray pointer">
							<a onclick="previewEdit()">Edit</a>
						</span>
					</div>
					<div class="input-field col s12" id="toot-field" style="margin-top: 0;margin-bottom: 0;">

						<textarea id="textarea" class="materialize-textarea unmize" style="margin-bottom:0;"
							data-length="500"></textarea>
						<label for="textarea" data-trans="toot">@@toot@@</label>
						<br>
						<span class="sml gray pointer markdown mize" id="preview-btn">
							<a onclick="preview()">Preview</a>
						</span>
						<span class="sml gray pointer anti-markdown mize">
							<a onclick="mdToggle()">Markdownエディタを表示</a>
						</span>
					</div>
					<div class="col s12 mize" style="margin-top: 0; display:flex; justify-content: space-between">
						<i class="waves-effect gray material-icons" id="nsfw" title="@@nsfwDes@@"
							onclick="nsfw()">visibility_off</i>
						<i class="waves-effect gray material-icons purple-text dropdown-trigger" data-target="dropdown1"
							id="vis-icon">public</i>
						<a class="waves-effect gray" id="cw" onclick="cw()" title="@@cwDes@@">CW</a>
						<span><span id="imgup"></span><span id="imgsel"><i class="waves-effect material-icons gray"
									onclick="fileselect()" title="@@selfile@@">photo_library</i></span></span>
						<i class="waves-effect gray material-icons" onclick="emojiToggle()" id="emojibtn"
							title="@@insertEmoji@@">tag_faces</i>
						<i class="waves-effect gray material-icons dropdown-trigger"
							data-target="dropdown2">more_vert</i>
						<i class="material-icons nex gray waves-effect" title="@@clearToot@@(Ctrl+Shit+C)"
							data-trans-title="post_box_clear" id="clear">clear</i>
					</div>
					<div class="col s12 mize" style="margin-bottom:5px; padding:0;">
						<div id="taglist"></div>
						<div id="preview" class="mize"></div>
						<span class=" sml mize"><span data-trans="reply">@@replyMode@@</span>:
							<span id="rec">@@no@@</span>/<span data-trans="file">@@temp@@</span>:
							<span id="mec">@@nothing@@</span>/@@poll@@:<span id="pollsta">@@no@@</span>
							<span id="vis" class="hide">public</span>
						</span>
						<br>
						<input type="text" id="cw-text" placeholder="@@cwtext@@" class="mize" style="margin:0">
						<div id="sch-box">@@postat@@<br><span class="sml">@@scheduleWarn@@</span><br>
							<input type="datetime-local" id="sch-date" placeholder="@@schedule@@" class="datepicker"
								style="margin:0">
						</div>
					</div>
				</div>
				<!-- 公開範囲 Dropdown Structure -->
				<ul id="dropdown1" class="dropdown-content">
					<li style="font-size: 16px; display: block; line-height: 22px; padding: 14px 16px;">@@selectVis@@
					</li>
					<li>
						<a onclick="vis('public')">@@publicJP@@(Public)</a>
					</li>
					<li>
						<a onclick="vis('unlisted')">@@unlistedJP@@(Unlisted)</a>
					</li>
					<li>
						<a onclick="vis('private')" id="private-button">@@privateJP@@(Private)</a>
					</li>
					<li id="limited-button" class="hide">
						<a onclick="vis('limited')">限定公開(Limited)</a>
					</li>
					<li id="local-button" class="hide">
						<a onclick="vis('local')">@@localJP@@(Local)</a>
					</li>
					<li>
						<a onclick="vis('direct')" class="disabled direct">@@directJP@@(Direct)</a>
					</li>
				</ul>
				<!-- その他 Dropdown Structure -->
				<ul id="dropdown2" class="dropdown-content">
					<li>
						<a onclick="nowplaying('spotify');">@@NPSpotify@@</a>
					</li>
					<li>
						<a onclick="nowplaying('itunes');">@@NPiTunes@@</a>
					</li>
					<li>
						<a onclick="schedule();">@@schedule@@</a>
					</li>
					<li>
						<a onclick="pollToggle();">@@poll@@</a>
					</li>
				</ul>
				<!--hidden area-->
				<input type="hidden" id="reply">
				<input type="hidden" id="quote">
				<input type="hidden" id="media">
				<!--END hidden area-->
			</div>
			<div id="toot-btn-field">
				<button class="btn waves-effect unmize toot-btn-group" onclick="post()"
					id="toot-post-btn">@@toot@@</button>
				<button class="btn waves-effect darken-3 unmize hide toot-btn-group" onclick="sec()"
					id="toot-sec-btn"><i class="material-icons" id="toot-sec-icon"
						title="@@sectoot@@">lock_open</i></button>
			</div>
		</div>
		<div id="right-side">
			<div id="suggest" class="right-side-content"></div>
			<!--絵文字ピッカー-->
			<div id="emoji" class="hide right-side-content">
				<span class="gray sml">@@emojiWarn@@
					<a onclick="emojiGet('true')" class="pointer">@@refreshEmoji@@</a>
					<br>
				</span>
				<div id="emoji-list" class="" style="">
				</div>
				<div class="emoji-control center">
					<button class="btn waves-effect blue" style="width:30%; padding:0;" onclick="emojiList('before')"
						id="emoji-before">
						<i class="material-icons">navigate_before</i>
					</button>
					<span id="emoji-count"></span>/
					<span id="emoji-sum"></span>
					<button class="btn waves-effect blue" style="width:30%; padding:0;" onclick="emojiList('next')"
						id="emoji-next">
						<i class="material-icons">navigate_next</i>
					</button>
				</div>
				<div id="default-emoji">
					<span id="now-emoji"></span>@@showThisEmoji@@<br><span class="gray sml">@@emojiInsertWarn@@</span>
					<br>
					<a onclick="customEmoji()" class="pointer waves-effect" title="@@customEmoji@@">
						<i class="material-icons">add</i>
					</a>
					<a onclick="defaultEmoji('people')" class="pointer waves-effect" title="@@peopleEmoji@@">
						<i class="material-icons">people</i>
					</a>
					<a onclick="defaultEmoji('nature')" class="pointer waves-effect" title="@@natureEmoji@@">
						<i class="material-icons">local_florist</i>
					</a>
					<a onclick="defaultEmoji('food')" class="pointer waves-effect" title="@@foodEmoji@@">
						<i class="material-icons">restaurant</i>
					</a>
					<a onclick="defaultEmoji('activity')" class="pointer waves-effect" title="@@activityEmoji@@">
						<i class="material-icons">directions_run</i>
					</a>
					<a onclick="defaultEmoji('place')" class="pointer waves-effect" title="@@placeEmoji@@">
						<i class="material-icons">directions_car</i>
					</a>
					<a onclick="defaultEmoji('object')" class="pointer waves-effect" title="@@thingsEmoji@@">
						<i class="material-icons">attach_file</i>
					</a>
					<a onclick="defaultEmoji('symbol')" class="pointer waves-effect" title="@@symbolEmoji@@">
						<i class="material-icons">gesture</i>
					</a>
					<a onclick="defaultEmoji('flag')" class="pointer waves-effect" title="@@flagsEmoji@@">
						<i class="material-icons">flag</i>
					</a>
					<a onclick="faicon()" class="pointer waves-effect" title="faicon" id="faicon-btn">
						<i class="fab fa-fort-awesome"></i>
					</a>
				</div>
			</div>
			<!--Poll UI-->
			<div id="poll" class="hide right-side-content">
				<div id="mastodon-poll" class="poll-provider">
					<input type="text" class="mastodon-choice" placeholder="@@choice@@1">
					<input type="text" class="mastodon-choice" placeholder="@@choice@@2">
					<input type="text" class="mastodon-choice" placeholder="@@choice@@3">
					<input type="text" class="mastodon-choice" placeholder="@@choice@@4">
					<label>
						<input type="checkbox" class="filled-in" id="poll-multiple" value="1" />
						<span>@@pollmulti@@</span>
					</label>
					<label>
						<input type="checkbox" class="filled-in" id="poll-until" value="1" />
						<span>@@polluntil@@</span>
					</label>
					<input type="number" style="width:50px" id="days_poll" placeholder="d" value="0">@@days@@
					<input type="number" style="width:50px" id="hours_poll" placeholder="h" value="0">@@hours@@
					<input type="number" style="width:50px" id="mins_poll" placeholder="m" value="6">@@mins@@
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Structure Tootdata-->
	<div id="tootmodal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<ul class="collapsible" id="det-col">
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="material-icons">people_outline</i>@@afterLTL@@
					</div>
					<div class="collapsible-body toot-reset" id="ltl-after">
					</div>
				</li>
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="material-icons">person_outline</i>@@afterUTL@@
					</div>
					<div class="collapsible-body toot-reset" id="user-after">
					</div>
				</li>
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="material-icons">language</i>@@afterFTL@@
					</div>
					<div class="collapsible-body toot-reset" id="ftl-after">
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">arrow_upward</i>@@contextBefore@@
					</div>
					<div class="collapsible-body toot-reset" id="toot-reply">
					</div>
				</li>
				<li>
					<div class="collapsible-header" id="activator">
						<i class="material-icons">more_horiz</i>@@thisToot@@
					</div>
					<div class="collapsible-body">
						<div class="toot-reset" id="toot-this"></div>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">arrow_downward</i>@@contextAfter@@
					</div>
					<div class="collapsible-body toot-reset" id="toot-after">
					</div>
				</li>
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="material-icons">people_outline</i>@@beforeLTL@@
					</div>
					<div class="collapsible-body toot-reset" id="toot-before">
					</div>
				</li>
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="material-icons">person_outline</i>@@beforeUTL@@
					</div>
					<div class="collapsible-body toot-reset" id="user-before">
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">star</i>@@favedPeople@@
					</div>
					<div class="collapsible-body toot-reset" id="toot-fav">
					</div>
				</li>
				<li class="dm-hide">
					<div class="collapsible-header">
						<i class="text-darken-3 false fas fa-retweet"></i>@@btedPeople@@
					</div>
					<div class="collapsible-body toot-reset" id="toot-rt">
					</div>
				</li>
			</ul>
			<div class="dm-hide">
				@@useOtherAcct1@@(<i class="fas fa-retweet"></i>/<i class="fas fa-star"></i>@@useOtherAcct2@@)<br>
				<div class="row">
					<div class="col s6">
						<select id="status-acct-sel" class="acct-sel"></select>
					</div>
					<div class="col s2">
						<button class="dropdown-button btn waves-effect" style="width:100%;" onclick="staEx('reply')"><i
								class="fas fa-share"></i></button>
					</div>
					<div class="col s2">
						<button class="dropdown-button btn waves-effect indigo" style="width:100%;"
							onclick="staEx('rt')"><i class="fas fa-retweet"></i></button>
					</div>
					<div class="col s2">
						<button class="dropdown-button btn waves-effect orange" style="width:100%;"
							onclick="staEx('fav')"><i class="fas fa-star"></i></button>
					</div>
				</div>
				<div id="toot-tools">
				</div>
				<div id="toot-after">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="waves-effect waves-green btn-flat dm-hide" onclick="brws()">@@openBrowser@@</a>
			<a href="#!" class="waves-effect waves-green btn-flat dm-hide" onclick="cbCopy()">@@copyURL@@</a>
			<a href="#!" class="waves-effect waves-green btn-flat dm-hide" onclick="cbCopy('emb')">@@embed@@</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">@@close@@</a>
		</div>
	</div>
	<!-- Modal Structure Userdata -->
	<div id="his-data" class="modal bottom-sheet modal-fixed-footer" style="max-height:750px; height:90%;">
		<div id="his-data-content" class="modal-content" style="padding-bottom: 0;overflow-y:hidden;">
			<div id="his-data-show">
				<div id="his-data-wrap">
					<div class="his-float" id="his-float-data">
						<div id="his-leftside">
							<div id="his-basic-prof">
								<img src="../../img/loading.svg" id="his-prof" draggable="false">
								<span id="his-name">Loading...</span><span class="gray" id="his-bot"></span>
								<br>@
								<span id="his-acct"></span><br>
								<span class="gray" id="his-relation"></span>
								<br>
								<span class="cbadge">
									<span id="his-sta"></span>@@toots@@
								</span>
								<span class="cbadge">@@follow@@:
									<span id="his-follow"></span>
								</span>
								<span class="cbadge">@@follower@@:
									<span id="his-follower"></span>
								</span><br>
								<span class="cbadge" style="max-width:150px; width:150px; ">Since:
									<span id="his-since"></span>
								</span>
								<div id="his-proof-prof"></div>
							</div>
							<div id="his-des" data-acct=""></div><br>
							<div id="his-plus-action">
								<a href="#!" class="btn waves-effect waves-effect blue-grey btn-flat" id="his-emp-btn"
									onclick="empUser()">@@empUser@@</a>
								<a href="#!" class="btn waves-effect waves-effect blue-grey btn-flat only-his-data"
									id="his-end-btn" onclick="pinUser()">@@endorse@@</a><br>
								<a href="#!" class="btn waves-effect waves-effect blue-grey btn-flat" id="his-openin"
									onclick="profbrws()">@@openinbrowser@@</a>
								<a href="#!" class="btn waves-effect waves-effect blue-grey btn-flat only-my-data"
									id="his-main-acct" onclick="setMain()"
									style="width: calc(100% - 10px)">@@mainacct@@</a><br>
							</div>
						</div>
					</div>
					<div class="his-float" id="his-float-timeline">
						<div id="my-data-nav">
							<a go="#his-tl" title="@@timeline@@"
								class="btn active-back column-first anc-link waves-effect"><i
									class="material-icons">timeline</i>@@timeline@@</a>
							<a go="#his-follow-list" title="@@follow@@" class="btn anc-link waves-effect"><i
									class="material-icons">people</i>→@@follow@@</a>
							<a go="#his-follower-list" title="@@follower@@" class="btn anc-link waves-effect"><i
									class="material-icons">people</i>←@@follower@@</a>
							<a go="#his-list" title="@@list@@" class="btn only-his-data anc-link waves-effect"><i
									class="material-icons">list</i>@@list@@</a>
							<a go="#his-fav-list" title="@@favRegist@@"
								class="btn only-my-data anc-link waves-effect"><i
									class="material-icons">star</i>@@favRegist@@</a>
							<a class="dropdown-trigger btn waves-effect" href="#" data-target="hisdropdown"><i
									class="material-icons">more_vert</i>@@more@@</a>
							<!-- Dropdown Structure -->
							<ul id="hisdropdown" class="dropdown-content">
								<li class="anc-link only-my-data" go="#his-blocking-list">
									<a href="#" title="@@blocks@@"><i class="material-icons">block</i>@@blocks@@</a>
								</li>
								<li class="anc-link only-my-data" go="#his-muting-list">
									<a href="#" title="@@mute@@"><i
											class="material-icons">voice_over_off</i>@@mute@@</a>
								</li>
								<li class="anc-link only-my-data" go="#his-domain-list">
									<a href="#" title="@@domainBlock@@"><i
											class="material-icons">cancel_schedule_send</i>@@domainBlock@@</a>
								</li>
								<li class="anc-link only-my-data" go="#his-prof-list">
									<a href="#" title="@@editProf@@"><i
											class="material-icons">create</i>@@editProf@@</a>
								</li>
								<li class="anc-link only-my-data" go="#his-request-list">
									<a href="#" title="@@followReq@@"><i
											class="material-icons">how_to_reg</i>@@followReq@@</a>
								</li>
								<li class="anc-link only-my-data" go="#his-follow-recom-list">
									<a href="#" title="@@frc@@"><i class="material-icons">recent_actors</i>@@frc@@</a>
								</li>
								<li class="anc-link only-his-data" go="#his-action">
									<a href="#" title="@@operateOtherAcct@@"><i
											class="material-icons">account_box</i>@@operateOtherAcct@@</a>
								</li>
								<li class="anc-link" go="#his-matching-list">
									<a href="#" title="@@likeUserDes@@"><i class="material-icons">group_work</i>User
										Matching</a>
								</li>
							</ul>
						</div>
						<div id="his-tl" class="his-var-content">
							<div id="his-tl-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="utl('--now','more')">@@more@@</button>
						</div>
						<div id="his-follow-list" class="his-var-content">
							<div id="his-follow-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="flw('--now','more')">@@more@@</button>
						</div>
						<div id="his-follower-list" class="his-var-content">
							<div id="his-follower-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="fer('--now','more')">@@more@@</button>
						</div>
						<div id="his-action" class="his-var-content">
							@@useOtherAcct1@@@@revoverJP@@@@follow@@(@@warnUseOtherAcct@@)<br>
							<div style="max-width:500px;"><select id="user-acct-sel" class="acct-sel"></select></div>
							@@revoverJPde@@
							<a href="#!" class="waves-effect btn" onclick="follow('selector','true')">@@follow@@</a><br>
							@@or@@<br>
							<a href="#!" class="waves-effect btn"
								onclick="udgEx('selector', 'selector')">@@openProf@@</a><br>
						</div>
						<div id="his-list" class="his-var-content">
							<div id="his-lists-a">@@warnListRegist@@</div>

							<div id="his-lists-b"></div>
						</div>
						<div id="his-fav-list" class="his-var-content">
							<div id="his-fav-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect" style="width:100%; padding:0;"
								onclick="showFav('more')">@@more@@</button>
						</div>
						<div id="his-blocking-list" class="his-var-content">
							<div id="his-blocking-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="showBlo('more')">@@more@@</button>
						</div>
						<div id="his-muting-list" class="his-var-content">
							<div id="his-muting-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="showMut('more')">@@more@@</button>
						</div>
						<div id="his-domain-list" class="his-var-content">
							<div id="his-domain-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="showDom('more')">@@more@@</button>@@blockDomain@@
							<br>
							<input type="text" placeholder="example.com" id="domainblock">
							<button class="btn waves-effect" onclick="addDomainblock()">@@add@@</button>
							<br>
						</div>
						<div id="his-prof-list" class="his-var-content">@@name@@
							<br>
							<input type="text" placeholder="@@name@@" id="his-name-val" style="max-width:250px;">
							<br>@@note@@
							<br>
							<div class="input-field col s12">
								<textarea placeholder="@@note@@" id="his-des-val"
									class="materialize-textarea"></textarea>
								<label for="his-des-val">@@note@@</label>
							</div>
							<button class="btn waves-effect" style="width:100%; padding:0;"
								onclick="profedit()">@@change@@</button>
							<br>@@editProfImg@@:
							<span id="prof-change">
								<input type="file" onchange="imgChange(this,'avatar')">
							</span>
							<br>@@editHeader@@:
							<span id="header-change">
								<input type="file" onchange="imgChange(this,'header')">
							</span>
						</div>
						<div id="his-request-list" class="his-var-content">
							<div id="his-request-list-contents" class="cont-series">
							</div>
							<button class="btn waves-effect " style="width:100%; padding:0;"
								onclick="showReq('more')">@@more@@</button>
						</div>
						<div id="his-follow-recom-list" class="his-var-content">
							<div id="his-follow-recom-contents" class="cont-series">
							</div>
						</div>
						<div id="his-matching-list" class="his-var-content">
							@@likeUserDes@@<br>
							Powered by <a href="https://distsn.org/" target="_blank">Mastodon User
								Matching</a><br>
							<div id="his-matching-list-contents" class="cont-series"></div>
							<button class="btn waves-effect " onclick="showMat()"
								style="width:100%; padding:0;">@@get@@</button>
						</div>
						<div id="his-float-blocked">
							<div>@@blocked@@</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="modal-action waves-effect waves-green btn-flat" id="his-history-btn"
				onclick="historyShow()">@@historyBack@@</button>
			<a href="#!" class="modal-action waves-effect waves-green btn-flat" id="his-follow-btn"
				onclick="follow()">@@follow@@</a>
			<a href="#!" class="modal-action waves-effect waves-green btn-flat" id="his-mute-btn"
				onclick="muteDo()">@@mute@@</a>
			<a href="#!" class="modal-action waves-effect waves-green btn-flat" id="his-block-btn"
				onclick="block()">@@block@@</a>
			<a href="#!" class="modal-action waves-effect waves-green btn-flat" onclick="hisclose()">@@close@@</a>
		</div>
	</div>
	<!-- Modal Structure Image-->
	<div id="imagemodal" class="modal modal-fixed-footer" style="min-width:550px">
		<div class="modal-content">
			<div id="imagewrap">
				<img src="" id="imgmodal">
			</div>

			<br>
		</div>
		<div class="modal-footer">
			DL:<span id="imgprog"></span>%
			<a class="waves-effect white-text" onclick="zoom(2)">
				<i class="material-icons">zoom_in</i>
			</a>
			<a class="waves-effect white-text" onclick="zoom(0.5)">
				<i class="material-icons">zoom_out</i>
			</a>
			<button class="btn waves-effect purple" onclick="dlImg()">
				<i class="material-icons">file_download</i>
			</button>
			<button class="btn waves-effect brown" onclick="detFromImg()">@@thisToot@@</button>
			<button class="btn waves-effect orange" onclick="imgCont('prev')" id="image-prev">
				<i class="material-icons">keyboard_arrow_left</i>
			</button>
			<button class="btn waves-effect orange" onclick="imgCont('next')" id="image-next">
				<i class="material-icons">keyboard_arrow_right</i>
			</button>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
				<i class="material-icons">close</i>
			</a>
		</div>
	</div>
	<!-- Modal Structure Video-->
	<div id="videomodal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<video src="" id="video" style="max-width:100%; max-height:100%;" controls loop="true" autoplay="true">
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">@@close@@</a>
		</div>
	</div>
	<!-- Modal Structure Release Note-->
	<div id="releasenote" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h3>TheDesk</h3>
			<a href="https://thedesk.top" target="_blank">HP</a><br>
			<a href="https://github.com/cutls/TheDesk" target="_blank">GitHub</a><br>
			<br>
			<div id="release-Usamin_18-9-2" class="release-do" style="display:none; ">
				<a href="https://code.cutls.com/thedesk-log/" target="_blank">開発の経緯</a><br>
				<a href="https://ja.mstdn.wiki/TheDesk" target="_blank">機能一覧</a><br>
				Pixiv Fanboxでは支援者様限定で様々なTheDeskに関する記事をご覧いただけます。最低月一更新。<br>
				困ったときは、<a href="https://docs.thedesk.top">TheDesk Docs</a>をご覧ください。
				<h5>Release Note Usamin (18.9.2)</h5>
				・トゥートボックスが閉じない、消えない不具合を修正。
				<h5>Release Note Usamin (18.9.1)</h5>
				・トゥートボックスのリサイズを横だけにした<br>
				・アンケートが上手く作成できない不具合を修正。
				<h5>Release Note Usamin (18.9.0)</h5>
				・設定エクスポートファイルが変更された<br>
				　.thedeskconfigv2: 17.2.0~18.8.3<br>
				　.thedeskconfig: 16.0.1~17.2.0<br>
				　.json5: 本バージョン以降<br>
				　<u>エクスポート可能な形式</u><br>
				　.json5<br>
				　<u>インポート可能な形式</u><br>
				　.thedeskconfigv2, .thedeskconfig, .json5<br>
				・カスタムCSSを読み込める(自己責任): macOS: /Users/:user/Library/Application Support/TheDesk | Windows: C:\Users\:user\AppData\Roaming\thedesk<br>
				・(v3.0|m追従)プロフィールディレクトリ読み込み<br>
				・(v3.0|m追従)最終アクティブ時間をユーザー一覧表示時に一緒に表示<br>
				・自己紹介をユーザー一覧表示時に一緒に表示<br>
				・メニューとトゥートボックスがリサイズ可能になった<br>
			</div>
			<div id="release-en" style="display:none">
				<h5>Let's make it native!</h5>
				<a href="https://translate.thedesk.top">Crowdin translation project</a>
			</div>
			<br><br>
			<h3>@@supportme@@</h3>
			@@TheDeskDes@@<br>
			<a class="btn-share btn waves-effect waves-light red lighten-2"
				href="https://www.pixiv.net/fanbox/creator/28105985" target="_blank">
				@@PixivSupport@@
			</a>
			<a class="btn-share btn waves-effect waves-light red darken-2" href="https://www.patreon.com/cutls"
				target="_blank">
				@@PatreonSupport@@
			</a>
			<a class="btn-share btn waves-effect waves-light black-text" href="https://liberapay.com/cutls"
				target="_blank" style="background-color: #f6c915">
				Liberapay
			</a>
			<a class="btn-share btn waves-effect waves-light blue"
				href="https://www.amazon.co.jp/registry/wishlist/2TV35ZHHJPDSB" target="_blank">
				@@AWLSupport@@
			</a>
			<br>
			@@SendAmazonGift1@@<a href="mailto:web-pro@cutls.com"
				target="_blank">web-pro@cutls.com</a>@@SendAmazonGift2@@<br>
			Kyash<br>
			<img src="../../img/kyash.png" width="100"><br>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">@@close@@</a>
		</div>
	</div>
	<!--PiP-->
	<div id="pip" class="hide pip-bottom pip-left">
		<i class="material-icons pip-horiz pointer" onclick="pipHoriz()">chevron_right</i>　
		<i class="material-icons pip-vert pointer" onclick="pipVert()">expand_less</i>　
		<i class="material-icons pointer" onclick="endPip()">close</i>
		<div id="pip-content">
		</div>
	</div>
	<!--menu-->
	<div id="menu" class="z-depth-5" style="display:none">
		<div id="menu-bar" class="drag-bar"></div>
		<span class="cancel">
			<i class="material-icons waves-effect" onclick="menu()" title="@@closeThisBox@@(X)">cancel</i>
		</span>
		<div id="menu-wrapper">
			<div id="left-menu">
				<div class="waves-effect active" onclick="addColumnMenu()" id="addColumnMenu"><i
						class="material-icons">add</i><span>@@addColumn@@</span></div>
				<div class="waves-effect" onclick="sortMenu()" id="sortMenu"><i
						class="material-icons">sort</i><span>@@sortColumns@@</span></div>
				<div class="waves-effect" onclick="searchMenu()" id="searchMenu"><i
						class="material-icons">search</i><span>@@search@@</span></div>
				<div class="waves-effect" onclick="listMenu()" id="listMenu"><i
						class="material-icons">view_headline</i><span>@@list@@</span></div>
				<div class="waves-effect" onclick="dirMenu()" id="dirMenu"><i
						class="material-icons">recent_actors</i><span>@@directory@@</span></div>
				<div class="waves-effect" onclick="filterMenu()" id="filterMenu"><i
						class="material-icons">filter_list</i><span>@@filter@@</span></div>
				<div class="waves-effect" onclick="help()"><i
						class="material-icons">help_outline</i><span>@@help@@</span></div>
				<div class="waves-effect" onclick="location.href='index.html'"><i
						class="material-icons">refresh</i><span>@@f5@@</span></div>
			</div>
			<div id="right-menu">
				<!--カラム追加-->
				<div id="add-box" class="hide menu-content">
					<div class="input-field"><span data-trans="your_acct">@@selectAcct@@</span>
						<br>
						<select id="add-acct-sel" class="acct-sel" style="color:black" onchange="addselCk()"></select>
						<label></label>
					</div>
					<div class="input-field">
						<div id="auth">
							<input type="hidden" value="local" id="type-sel">
							@@showThisTL@@
							<div id="tltype">
								<div class="type waves-effect active" data-type="local">
									<div><i class="material-icons">people_outline</i></div><span>@@local@@</span>
								</div>
								<div class="type waves-effect" data-type="local-media">
									<div><i class="material-icons">people_outline</i><i
											class="material-icons sub-icon">perm_media</i>
									</div><span>@@localMedia@@</span>
								</div>
								<div class="type waves-effect" data-type="home">
									<div><i class="material-icons">home</i></div><span>@@home@@</span>
								</div>
								<div class="type waves-effect" data-type="pub">
									<div><i class="material-icons">language</i></div><span>@@fed@@</span>
								</div>
								<div class="type waves-effect" data-type="pub-media">
									<div><i class="material-icons">language</i><i
											class="material-icons sub-icon">perm_media</i></div>
									<span>@@fedMedia@@</span>
								</div>
								<div class="type waves-effect" data-type="dm">
									<div><i class="material-icons">mail_outline</i></div><span>@@dm@@</span>
								</div>
								<div class="type waves-effect" data-type="mix">
									<div><i class="material-icons">merge_type</i></div><span>@@integratedTLDes@@</span>
								</div>
								<div class="type waves-effect" data-type="plus">
									<div><i class="material-icons">merge_type</i><i
											class="material-icons sub-icon">reply</i></div>
									<span>@@localPlusDes@@</span>
								</div>
								<div class="type waves-effect" data-type="notf">
									<div><i class="material-icons">notifications</i></div><span>@@notf@@</span>
								</div>
							</div>
						</div>
						<div id="noauth" class="hide">@@showThisTL@@
							<input id="noauth-url" type="text" class="validate" style="width:calc( 70% - 40px);"
								placeholder="e.g:mstdn.jp">
						</div>
						<div id="webview-add" class="hide">@@webviewWarn@@
						</div>
					</div>
					<button class="btn waves-effect blue " style="width:calc( 100% - 10px);" onclick="addColumn()"
						data-trans-i="add">
						<i class="material-icons left">add</i>@@add@@
					</button>
					<br>
					<br>
				</div>
				<!--検索-->
				<div id="src-box" class="hide menu-content">
					<div class="input-field">
						<select id="src-acct-sel" class="acct-sel" onchange="trend()"></select>
					</div>
					<div class="input-field">
						<input id="src" type="text" class="validate" style="width:60%">
						<label for="src" data-trans="src">@@search@@</label>
						<button class="btn waves-effect indigo" style="width: 36%;padding: 0;padding-left: 15px;"
							onclick="src()" data-trans-i="src">
							<i class="material-icons left" style="margin:0">search</i>@@search@@
						</button>
						<br>
						<br>
					</div>
					<div id="search">
						<div id="src-contents">
						</div>
					</div>
				</div>
				<!--ディレクトリ-->
				<div id="dir-box" class="hide menu-content">
					<div class="input-field">
						<select id="dir-acct-sel" class="acct-sel" onchange="dirselCk()"></select>
					</div>
					<div id="dirNoAuth" class="hide">
						<input id="dirNoAuth-url" type="text" class="validate" style="width:calc( 70% - 40px);"
							placeholder="e.g:mastodon.social">
						<button class="btn waves-effect indigo" style="width: 120px;padding: 0;padding-left: 15px;"
							onclick="directory()">
							<i class="material-icons left" style="margin:0">search</i>@@show@@
						</button>
					</div>
					<label>
						<input class="with-gap" onchange="directory()" name="sort" type="radio" value="active" checked>
						<span>@@active@@</span>
					</label>
					<label>
						<input class="with-gap" onchange="directory()" name="sort" type="radio" value="new">
						<span>@@newcomer@@</span>
					</label><br>
					<label>
						<input type="checkbox" class="filled-in" id="local_only" value="true" onchange="directory()" />
						<span>@@local_only@@</span>
					</label>
					<div id="dir-contents"></div>
					<button class="btn waves-effect teal disabled" style="width: 100%" id="moreDir"
						onclick="directory('more')">@@more@@
					</button>
				</div>
				<!--並べ替え-->
				<div id="sort-box" class="hide menu-content">
					<ul id="sort"></ul>
					<div>
						<button onclick="sort()" class="btn waves-effect nex" style="width:97.5%;" data-trans-i="sort">
							<i class="material-icons left">sort</i>@@sortSet@@
						</button>
					</div>
				</div>
				<!--リスト-->
				<div id="list-box" class="hide menu-content">
					<div class="input-field" style="width:calc( 100% - 100px);float:left">
						<select id="list-acct-sel" class="acct-sel"></select>
						<label>@@selectAcct@@</label>
					</div>
					<div style="float:left; padding-top:8px; padding-bottom:28px;">
						<button class="btn waves-effect indigo" style="width:80px;" onclick="list()"
							data-trans-i="lists">
							@@listLocale@@
						</button>
					</div>
					<br><br>
					<div id="lists"></div>
					<div id="lists-user"></div>
					<input type="text" style="width:150px" id="list-add" placeholder="@@name@@">
					<button class="btn waves-effect" style="width:120px;" onclick="makeNewList()">@@makeNew@@</button>
				</div>
				<!--フィルター-->
				<div id="filter-box" class="hide menu-content">
					<div class="input-field" style="width:calc( 100% - 100px);float:left">
						<select id="filter-acct-sel" class="acct-sel"></select>
						<label>@@selectAcct@@</label>
					</div>
					<div style="float:left; padding-top:8px; padding-bottom:28px;">
						<button class="btn waves-effect indigo" style="width:80px;" onclick="filter()"
							data-trans-i="filters">
							@@listLocale@@
						</button>
					</div>
					<div id="filtered-words"></div>
					<input type="hidden" id="filter-edit-id">
					<input type="text" style="width:150px" id="filter-add-word" placeholder="@@filterWord@@"><br>
					@@degree@@<br>
					<label>
						<input type="checkbox" class="filled-in" id="home_filter" value="home" />
						<span>@@home@@</span>
					</label>
					<label>
						<input type="checkbox" class="filled-in" id="local_filter" value="public" />
						<span>@@local@@</span>
					</label>
					<label>
						<input type="checkbox" class="filled-in" id="notf_filter" value="notifications" />
						<span>@@notf@@</span>
					</label>
					<label>
						<input type="checkbox" class="filled-in" id="conv_filter" value="thread" />
						<span>@@conver@@</span>
					</label>
					@@option@@<br>
					<label>
						<input type="checkbox" class="filled-in" id="wholeword_filter" value="1" />
						<span>@@matchWord@@</span>
					</label>
					<br>
					<span class="sml">@@warnMatchWord@@</span><br>
					<label>
						<input type="checkbox" class="filled-in" id="except_filter" value="1" />
						<span>@@except@@</span>
					</label>
					<br>
					<span class="sml">@@exceptWorn@@</span><br>
					@@avalableBefore@@<span class="sml">@@warnAvBefore@@<b>@@warnAvBefore2@@</b></span><br><br>
					<input type="number" style="width:50px" id="days_filter" placeholder="d" value="0">@@days@@
					<input type="number" style="width:50px" id="hours_filter" placeholder="h" value="0">@@hours@@
					<input type="number" style="width:50px" id="mins_filter" placeholder="m" value="0">@@mins@@<br>
					Quick:<a onclick="filterTime(0,0,30)" class="pointer">30@@mins@@</a>/
					<a onclick="filterTime(0,1,0)" class="pointer">1@@hours@@</a>/
					<a onclick="filterTime(0,6,0)" class="pointer">6@@hours@@</a>/
					<a onclick="filterTime(0,12,0)" class="pointer">12@@hours@@</a>/
					<a onclick="filterTime(1,0,0)" class="pointer">1@@days@@</a>/
					<a onclick="filterTime(7,0,0)" class="pointer">7@@days@@</a>/
					<a onclick="filterTime(0,0,0)" class="pointer">@@unlimited@@</a><br>
					<button class="btn waves-effect" style="width:120px;" onclick="makeNewFilter()"
						id="add-filter-btn">@@add@@</button><br>
					<span class="sml">@@warnOnIntegratedTL@@</span>
				</div>
			</div>
		</div>
		<a onclick="about()" class="nex waves-effect">
			<i class="material-icons" style="font-size: 1rem;">info</i>@@about@@
		</a>&nbsp;|&nbsp;
		<a onclick="bottomReverse()" class="nex waves-effect">
			<i class="material-icons" style="font-size: 1rem;">swap_horiz</i>@@reverse@@
		</a>&nbsp;|&nbsp;
		<a onclick="openRN()" class="nex waves-effect">
			<i class="material-icons" style="font-size: 1rem;">new_releases</i>Release Note
		</a>
	</div>
	<div id="main">
		<!--TLのTL-->
		<div id="timeline-container">
			<div id="something-wrong">
				<img src="../../img/desk.svg" style="width:150px;margin:5px;display:none;" draggable="false">
				<div class="stw" style="display: none">@@helloTheDesk@@</div>
			</div>
		</div>
	</div>
	</div>
	<!--bottom-->
	<div id="bottom" class="reverse hide">
		<div class="leftside reverse">
			<div id="dambox">
				<button id="posttgl" class="btn waves-effect"
					style="width: 100%;height: 2.5rem;line-height: 0;margin: 0;">
					<i class="material-icons"
						style="position: relative; top: 5px; font-size: 1.5rem; text-align: center; margin-right: 10px;">edit</i>@@toot@@
				</button>
			</div>
			<div class="leftside reverse" id="group">
				<div class="btnsgroup">
					<a href="acct.html" class="nex waves-effect">
						<i class="material-icons nex big-icon" title="@@acctMan@@(Ctrl+Shift+M)">account_circle</i>
					</a>
					<a href="setting.html" class="nex waves-effect">
						<i class="material-icons nex" title="@@setting@@(Ctrl+Shift+S)">settings</i>
					</a>
					<a onclick="nano()" class="nex waves-effect">
						<i class="material-icons" title="@@nanoDes@@TheDesk Nano"
							data-trans-title="nano_desp">remove_from_queue</i>
					</a>
					<a onclick="menu()" class="nex waves-effect" id="list-tgl">
						<i class="material-icons" title="@@list@@">apps</i>
					</a>
					<span id="fukidashi">@@hereAddColumns@@</span>
				</div>
			</div>
		</div>
		<div>
			<div id="tips-menu">
				<div class="btnsgroup" style="height:34px"><span class="grouptitle">Tips:</span>
					<a onclick="tips('ver')" class="nex waves-effect">
						<i class="material-icons nex" title="@@verTips@@" data-trans-title="ver">info</i>
					</a>
					<a onclick="tips('clock')" class="nex waves-effect">
						<i class="material-icons nex" title="@@clockTips@@" data-trans-title="clock">access_time</i>
					</a>
					<a onclick="tips('memory')" class="nex waves-effect">
						<i class="material-icons nex" title="@@ramTips@@" data-trans-title="memory">memory</i>
					</a>
					<a onclick="tips('trend')" class="nex waves-effect imasonly" style="display:none;">
						<i class="material-icons nex" title="アイマストドントレンド" data-trans-title="trendtip">whatshot</i>
					</a>
					<a onclick="tips('spotify')" class="nex waves-effect">
						<i class="fab fa-spotify nex" title="Spotify" data-trans-title="spotifytips"></i>
					</a>
				</div>
			</div>
			<div id="tips" class="hide">
				<a onclick="tipsToggle()" class="nex waves-effect">
					<i class="material-icons nex" title="@@changeTips@@" data-trans-title="tips">bubble_chart</i>
				</a>
				<div id="tips-text" style="width:300px;"></div>
			</div>
		</div>
	</div>
	<!--Support me-->
	<div id="support-btm" class="z-depth-4 hide">
		<div id="support-btm-ja">
			<h5>ご支援いただけませんか？</h5>
			(これは支援の有無に関わらず定期的に出ます。)<br>
			あなたのMastodon, Misskeyライフを邪魔してしまって申し訳ありません。<br>
			乞食のようなマネをしてご支援をお願いするのもどうかと思いますが、少々お時間をください。<br>
			ご安心ください。インターネット上のフリー百科事典のような高圧的支援要求はいたしません。コーヒーも要求いたしません。<br>
			あなたはMastodon, MisskeyクライアントにTheDeskを選びました。これは奇跡的なことです。今考えればブラウザからアクセスした方が良かったのではと感じることかと存じます。<br>
			それでも、あなたはTheDeskを使っています。<br>
			TheDeskは2018年1月13日に最初のバージョンが出ました。それから圧倒的な機能数でゴリ押しするクライアントになっています。<br>
			新機能に追従を図るためのモチベーションもさることながら、安全対策上TheDeskは開発者の緊急メッセージを表示できる機能が備わっており、開発者が送信ボタンを押すとすべてのTheDeskユーザーに通知が行くようになっています。<br>
			かつてこれによってバグ報告を行い、使用を自粛していただくこともありました。<br>
			そのような機能を実装するために、Mastodonなどのインスタンスを運営するのと同じく有料のサーバーを運用しています。<br>
			<b>全てのユーザーが安心してTheDeskを使っていただける環境のため</b>にも、ぜひご支援をご検討ください。<br>
			<b>@@TheDeskDes@@</b>
		</div>
		<div id="support-btm-en" class="hide">
			<h5>Support me</h5>
			It may disturb your Mastodon life, but your support is required to keep TheDesk awesome!<br>
			<b>@@TheDeskDes@@</b>
		</div>
		<div id="support-btm-middle">
			<h5>@@monthly@@</h5>
			<a class="btn-share btn waves-effect waves-light red lighten-2"
				href="https://www.pixiv.net/fanbox/creator/28105985" target="_blank">
				@@PixivSupport@@
			</a>
			<a class="btn-share btn waves-effect waves-light red darken-2" href="https://www.patreon.com/cutls"
				target="_blank">
				@@PatreonSupport@@
			</a>
			<a class="btn-share btn waves-effect waves-light black-text" href="https://liberapay.com/cutls"
				target="_blank" style="background-color: #f6c915">
				Liberapay
			</a>
		</div>
		<div id="support-btm-right">
			<h5>@@once@@</h5>
			<a class="btn-share btn waves-effect waves-light blue"
				href="https://www.amazon.co.jp/registry/wishlist/2TV35ZHHJPDSB" target="_blank">
				@@AWLSupport@@
			</a>
			<br>
			@@SendAmazonGift1@@<a href="mailto:web-pro@cutls.com"
				target="_blank">web-pro@cutls.com</a>@@SendAmazonGift2@@<br>
			Kyash<br>
			<img src="../../img/kyash.png" width="100"><br>
		</div>
		<div id="support-btm-close">
			<button class="btn waves-effect" style="width:100%;" onclick="closeSupport()"
				id="add-filter-btn">@@close@@</button>
		</div>
	</div>
	<!--左下メッセージ-->
	<div id="message">
	</div>
	<!--Radio Happy(Yui) Taku Inoue-->
	<audio src="" id="radio"></audio>
	<!--JS-->
	<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../../js/platform/first.js"></script>
	<script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.js"></script>
	<script type="text/javascript" src="../../js/lang/lang.@@lang@@.js"></script>
	<script type="text/javascript" src="../../js/common/time.js"></script>
	<script type="text/javascript" src="../../js/common/blurhash.js"></script>
	<script type="text/javascript" src="../../js/common/version.js"></script>
	<script type="text/javascript" src="../../js/common/keyshortcut.js"></script>
	<script type="text/javascript" src="../../js/common/modal.js"></script>
	<script type="text/javascript" src="../../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="../../js/platform/punycode.js"></script>


	<script type="text/javascript" src="../../js/ui/tips.js"></script>
	<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.7"></script>
	<script type="text/javascript" src="../../js/common/about.js"></script>
	<script type="text/javascript" src="../../js/tl/parse.js"></script>
	<script type="text/javascript" src="../../js/tl/misskeyparse.js"></script>
	<script type="text/javascript" src="../../js/tl/dm.js"></script>
	<script type="text/javascript" src="../../js/ui/scroll.js"></script>
	<script type="text/javascript" src="../../js/tl/tl.js"></script>
	<script type="text/javascript" src="../../js/tl/card.js"></script>
	<script type="text/javascript" src="../../js/tl/poll.js"></script>
	<script type="text/javascript" src="../../js/tl/date.js"></script>
	<script type="text/javascript" src="../../js/tl/notification.js"></script>
	<script type="text/javascript" src="../../js/tl/datails.js"></script>
	<script type="text/javascript" src="../../js/tl/mix.js"></script>
	<script type="text/javascript" src="../../js/tl/src.js"></script>
	<script type="text/javascript" src="../../js/tl/directory.js"></script>
	<script type="text/javascript" src="../../js/tl/filter.js"></script>
	<script type="text/javascript" src="../../js/tl/tag.js"></script>
	<script type="text/javascript" src="../../js/tl/list.js"></script>
	<script type="text/javascript" src="../../js/tl/speech.js"></script>
	<script type="text/javascript" src="../../js/ui/post-box.js"></script>
	<script type="text/javascript" src="../../js/ui/layout.js"></script>
	<script type="text/javascript" src="../../js/post/emoji.js"></script>
	<script type="text/javascript" src="../../js/login/instance.js"></script>
	<script type="text/javascript" src="../../js/login/login.js"></script>
	<script type="text/javascript" src="../../js/ui/img.js"></script>
	<script type="text/javascript" src="../../js/ui/pip.js"></script>
	<script type="text/javascript" src="../../js/ui/sort.js"></script>
	<script type="text/javascript" src="../../js/ui/spotify.js"></script>
	<script type="text/javascript" src="../../js/post/post.js"></script>
	<script type="text/javascript" src="../../js/post/use-txtbox.js"></script>
	<script type="text/javascript" src="../../js/post/secure.js"></script>
	<script type="text/javascript" src="../../js/post/img.js"></script>
	<script type="text/javascript" src="../../js/post/status.js"></script>
	<script type="text/javascript" src="../../js/post/misskeystatus.js"></script>
	<script type="text/javascript" src="../../js/post/suggest.js"></script>
	<script type="text/javascript" src="../../js/post/bb-md.js"></script>
	<script type="text/javascript" src="../../js/userdata/showOnTL.js"></script>
	<script type="text/javascript" src="../../js/userdata/his-data.js"></script>
	<script type="text/javascript" src="../../js/userdata/prof-edit.js"></script>
	<script type="text/javascript" src="../../js/emoji/emojipack.js"></script>
	<script type="text/javascript" src="../../js/emoji/default-emoji.js"></script>
	<script type="text/javascript" src="../../js/platform/end.js"></script>
	<script type="text/javascript" src="../../js/ui/menu.js"></script>