<!doctype html>
<html lang="@@lang@@" style="overflow-y:scroll">

<head>
	<title>Settings - TheDesk</title>
	@@comment-start@@
	<script type="text/javascript">
		var _jipt = [];
		_jipt.push(['project', 'thedesk']);
	</script>
	<script type="text/javascript" src="https://cdn.crowdin.com/jipt/jipt.js"></script>
	@@comment-end@@
	<meta content="width=device-width,initial-scale=1.0" name="viewport">
	<link href="../../@@node_base@@/materialize-css/dist/css/materialize.css" type="text/css" rel="stylesheet">
	<link href="../../css/themes.css" type="text/css" rel="stylesheet">
	<link href="../../css/pickr.css" type="text/css" rel="stylesheet">
	<link href="../../css/master.css" type="text/css" rel="stylesheet">
	<link href="../../@@node_base@@/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" rel="stylesheet">
	<meta charset="utf-8">
	<style>
		input {
			max-height: 3.84rem !important
		}

		.pcr-result {
			height: 1rem !important;
		}

		.container-after-titlebar {
			padding: 20px;
		}
	</style>
	@@pwa@@
	@@store@@
</head>

<body id="mainView" style="overflow-y:scroll" class="@@pwaClass@@">
	<script type="text/javascript" src="../../@@node_base@@/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../../js/platform/first.js"></script>
	<script type="text/javascript" src="../../@@node_base@@/materialize-css/dist/js/materialize.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script src="../../@@node_base@@/json5/dist/index.min.js"></script>
	<script src="../../@@node_base@@/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="setting.vue.js"></script>
	<script type="text/javascript" src="../../@@node_base@@/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script>function renderMem() {return false; }</script>

	<h4>@@setting@@</h4>
	<ul class="collapsible" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">desktop_windows</i>@@env@@
			</div>
			<div class="collapsible-body">
				<h5>@@setlang@@</h5>
				To translate with Crowdin, you have to login Crowdin and restart TheDesk when login is finished.<br><br>
				@@langlist@@
				<h5>@@backup@@</h5>
				<button onclick="exportSettings()" class="btn waves-effect lime darken-3"
					style="width:100%; max-width:15rem;">@@export@@</button>
				<button onclick="importSettings()" class="btn waves-effect cyan darken-3"
					style="width:100%; max-width:15rem;">@@import@@</button><br>
				@@backupWarn@@<br>
				<input type="text" id="imp-exp" style="width: 22rem">
				<div id="envView">
					<template v-for="(item, i) in config">
						<h5>{{item.text.head}}</h5>
						<template v-if="item.text.desc">
							<span v-html="item.text.desc"></span><br>
						</template>
						<template v-if="item.id=='notf'"><a onclick="notftest()"
								class="pointer">@@nntest@@</a><br></template>
						<template v-if="item.checkbox">
							<template v-for="(check, j) in item.text.checkbox">
								<label>
									<input class="with-gap" v-on:click="complete(i,check.value)" v-model="item.setValue"
										type="radio" v-bind:id="item.id+check.value" v-bind:value="check.value" />
									<span>{{check.text}}</span>
								</label>
							</template>
						</template>
						<template v-else>
							<template v-if="item.doubleText">
								<template v-for="(textbox, j) in item.data">
									<input type="text" v-model="textbox.setValue" type="radio" v-bind:id="textbox.id"
										v-bind:style="{ width: textbox.width+'px'}" />{{textbox.text.after}}
								</template>
							</template>
							<template v-else>
								<input type="text" v-model="item.setValue" type="radio" v-bind:id="item.id"
									v-bind:style="{ width: item.width+'px'}" />{{item.text.after}}
							</template>
							<button class="btn waves-effect" style="width:7.7rem;"
								v-on:click="complete(i)">@@change@@</button>
						</template><br>
					</template>
				</div>
				<h5>@@font@@</h5>
				@@fontwarn@@<br>
				<button class="btn waves-effect" style="width:7.7rem;" onclick="font()">@@select@@</button><br>
				<div id="fonts" class="hide" style="overflow-y:scroll; width:22rem; height:40rem;"></div>
				<br>
				<input type="text" style="width:11.5rem" id="font">
				<button class="btn waves-effect" style="width:7.7rem;" onclick="settings()">@@set@@</button>
				<br>
				<h5>@@savefolder@@</h5>
				@@savefolderwarn@@<br>
				<button class="btn waves-effect" style="width:7.7rem;" onclick="savefolder()">@@change@@</button>
				<br>
			</div>
		</li>
		<li class="pwa">
			<div class="collapsible-header">
				<i class="material-icons">color_lens</i>@@theme@@
			</div>
			<div class="collapsible-body">
				<h4>@@themeSel@@</h4>
				<div style="width:22rem" id="sel-selector">
					<select id="custom-sel-sel" class="custom-sel" onchange="customSel()"></select>
				</div>
				<h4>@@customtheme@@</h4>
				<div style="width:22rem" id="edit-selector" data-add="@@add_new@@">
					<select id="custom-edit-sel" class="custom-sel" onchange="custom()">
						<option value="add_new">@@add_new@@</option>
					</select>
				</div>
				<h5>@@name@@</h5>
				<input type="text" style="width:22rem" id="custom_name" placeholder="@@name@@...">
				<h5>@@desc@@</h5>
				<div class="input-field"><textarea style="width:22rem" id="custom_desc" class="materialize-textarea"
						placeholder="@@desc@@..."></textarea></div>
				<h5>@@customthemeDirection@@</h5>
				<label>
					<input class="with-gap" onchange="settings()" name="direction" type="radio" id="dark" value="dark"
						checked="true" />
					<span>Dark</span>
				</label>
				<label>
					<input class="with-gap" onchange="settings()" name="direction" type="radio" id="light"
						value="light" />
					<span>Light</span>
				</label><br><br />
				<button class="btn waves-effect" onclick="advanced()">@@advanced@@</button>
				<span class="advanced hide">@@advancedWarn@@</span>
				<div id="pickers">
					<div>
						<h5>Background</h5>@@bg@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_0" value="1" checked disabled />
							<span>@@use@@</span>
						</label><br />
						<input type="color" id="color-picker0_value">
					</div>
					<div>
						<h5>Text</h5>@@text@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_1" value="1" checked disabled />
							<span>@@use@@</span>
						</label><br />
						<input type="color"  id="color-picker1_value">
					</div>
					<div>
						<h5>Subcolor</h5>@@subcolor@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_2" value="1" checked disabled />
							<span>@@use@@</span>
						</label><br />
						<input type="color"  id="color-picker2_value">
					</div>
					<div>
						<h5>Accent</h5>@@accent@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_3" value="1" checked disabled />
							<span>@@use@@</span>
						</label><br />
						<input type="color"  id="color-picker3_value">
					</div>

					<div class="advanced hide">
						<h5>Modal</h5>@@modal@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_4" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('background','modal')">Background</a>
						<br />
						<input type="color"  id="color-picker4_value">
					</div>
					<div class="advanced hide">
						<h5>Modal Footer</h5>@@modalFooter@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_5" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('background','modalFooter')">Background</a>/
							<a class="pointer" onclick="copyColor('modal','modalFooter')">Modal</a>
						<br />
						<input type="color"  id="color-picker5_value">
					</div>
					<div class="advanced hide">
						<h5>3rd Color</h5>@@thirdColor@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_6" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('subcolor','third')">Subcolor</a>
						<br />
						<input type="color"  id="color-picker6_value">
					</div>
					<div class="advanced hide">
						<h5>4th Color</h5>@@forthColor@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_7" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('subcolor','forth')">Subcolor</a>/
							<a class="pointer" onclick="copyColor('third','forth')">3rd Color</a>
						<br />
						<input type="color"  id="color-picker7_value">
					</div>
					<div class="advanced hide">
						<h5>Bottom</h5>@@bottom@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_8" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('subcolor','bottom')">Subcolor</a>
						<br />
						<input type="color"  id="color-picker8_value">
					</div>
					<div class="advanced hide">
						<h5>2nd Accent</h5>@@emphasized@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_9" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('accent','emphasized')">Accent</a>
						<br />
						<input type="color"  id="color-picker9_value">
					</div>
					<div class="advanced hide">
						<h5>Postbox</h5>@@postbox@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_10" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('subcolor','postbox')">Subcolor</a>
						<br />
						<input type="color"  id="color-picker10_value">
					</div>
					<div class="advanced hide">
						<h5>Active</h5>@@active@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_11" value="1" />
							<span>@@use@@</span>
						</label><br />
						@@copyFrom@@:
							<a class="pointer" onclick="copyColor('accent','active')">Accent</a>
						<br />
						<input type="color"  id="color-picker11_value">
					</div>
					<div class="advanced hide">
						<h5>Selected</h5>@@selected@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_12" value="1" />
							<span>@@use@@</span>
						</label><br />
						<input type="color"  id="color-picker12_value">
					</div>
					<div class="advanced hide">
						<h5>Selected with shared</h5>@@selectedWithShare@@<br />
						<label>
							<input type="checkbox" class="filled-in" id="use-color_13" value="1" />
							<span>@@use@@</span>
						</label><br />
						<input type="color"  id="color-picker13_value">
					</div>
				</div><br /><br />
				<button class="btn-large waves-effect" onclick="customComp()">@@change@@</button>&nbsp;<button
					class="btn waves-effect red disabled" id="delTheme" onclick="deleteIt()">@@delete@@</button><br><br>
				<input type="text" style="width:22rem;height:40px;" id="custom_json" class="materialize-textarea"
					placeholder="JSON style" readonly><br>
				@@customShare@@
				<h4>@@customImport@@</h4>
				@@cImpWarn@@<br>
				<input type="text" style="width:22rem;height:40px;" id="custom_import" class="materialize-textarea"
					placeholder="JSON/JSON5 style">
				<button class="btn waves-effect" onclick="customImp()">@@import@@</button><br>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">reorder</i>@@timeline@@
			</div>
			<div class="collapsible-body">
				<div id="tlView">
					<template v-for="(item, i) in config">
						<h5>{{item.text.head}}</h5>
						<template v-if="item.text.desc">
							<span v-html="item.text.desc"></span><br>
						</template>
						<template v-if="item.checkbox">
							<template v-for="(check, j) in item.text.checkbox">
								<label>
									<input class="with-gap" v-on:click="complete(i,check.value)" v-model="item.setValue"
										type="radio" v-bind:id="item.id+check.value" v-bind:value="check.value" />
									<span>{{check.text}}</span>
								</label>
							</template>
						</template>
						<template v-else>
							<template v-if="item.doubleText">
								<template v-for="(textbox, j) in item.data">
									<input type="text" v-model="textbox.setValue" type="radio" v-bind:id="textbox.id"
										v-bind:style="{ width: textbox.width+'px'}" />{{textbox.text.after}}
								</template>
							</template>
							<template v-else>
								<input type="text" v-model="item.setValue" type="radio" v-bind:id="item.id"
									v-bind:style="{ width: item.width+'px'}" />{{item.text.after}}
							</template>
							<button class="btn waves-effect" style="width:7.7rem;"
								v-on:click="complete(i)">@@change@@</button>
						</template><br>
					</template>
				</div>
				<h5>@@customSound@@</h5>
				<button class="btn waves-effect" style="width:120px;" onclick="customSound(1)">Custom 1</button><span
					id="c1-file"></span><br>
				<button class="btn waves-effect" style="width:120px;" onclick="customSound(2)">Custom 2</button><span
					id="c2-file"></span><br>
				<button class="btn waves-effect" style="width:120px;" onclick="customSound(3)">Custom 3</button><span
					id="c3-file"></span><br>
				<button class="btn waves-effect" style="width:120px;" onclick="customSound(4)">Custom 4</button><span
					id="c4-file"></span><br>
				<h5>@@vol@@</h5>
				@@volwarn80@@<br>
				<p class="range-field"><span id="soundVolVal">80</span><br>
					<input type="range" id="soundvol" min="0" max="100" value="80" onchange="customVol()"
						style="width:40rem; max-width:100%" /></p>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">send</i>@@post@@
			</div>
			<div class="collapsible-body">
				<div id="postView">
					<template v-for="(item, i) in config">
						<h5>{{item.text.head}}</h5>
						<template v-if="item.text.desc">
							<span v-html="item.text.desc"></span><br>
						</template>
						<template v-if="item.checkbox">
							<template v-for="(check, j) in item.text.checkbox">
								<template
									v-if="(!check.kirishima || (check.kirishima && kirishima) )&& (!check.quote || (check.quote && quoters))">
									<label><input class="with-gap" v-on:click="complete(i,check.value)"
											v-model="item.setValue" type="radio" v-bind:id="item.id+check.value"
											v-bind:value="check.value" />
										<span>{{check.text}}</span></label>
									<span v-if="check.kirishimaText">{{check.kirishimaText}}</span>
								</template>
							</template>
						</template>
						<template v-else>
							<template v-if="item.doubleText">
								<template v-for="(textbox, j) in item.data">
									<input type="text" v-model="textbox.setValue" type="radio" v-bind:id="textbox.id"
										v-bind:style="{ width: textbox.width+'px'}" />{{textbox.text.after}}
								</template>
							</template>
							<template v-else>
								<input type="text" v-model="item.setValue" type="radio" v-bind:id="item.id"
									v-bind:style="{ width: item.width+'px'}" />{{item.text.after}}
							</template>
							<button class="btn waves-effect" style="width:7.7rem;"
								v-on:click="complete(i)">@@change@@</button>
						</template><br>
					</template>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">keyboard</i>@@keysc@@
			</div>
			<div class="collapsible-body">
				<h5>@@iks@@</h5>
				@@okswarn@@<br>
				Ctrl+Shift+1:<input type="text" style="width:11.5rem" id="oks-1">
				<button onclick="oks(1)" class="btn waves-effect" style="width:7.7rem;">@@set@@</button><br><br>
				Ctrl+Shift+2:<input type="text" style="width:11.5rem" id="oks-2">
				<button onclick="oks(2)" class="btn waves-effect" style="width:7.7rem;">@@set@@</button><br><br>
				Ctrl+Shift+3:<input type="text" style="width:11.5rem" id="oks-3">
				<button onclick="oks(3)" class="btn waves-effect" style="width:7.7rem;">@@set@@</button><br><br>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">bookmark</i>@@muteemp@@
			</div>
			<div class="collapsible-body">
				<h5>@@climute@@</h5>
				<div id="mute-cli"></div>
				<h5>@@cliemp@@</h5>
				@@cliwarn@@
				<h5>@@wordmute@@</h5>
				@@enter@@<br>
				<div class="chips" id="wordmute" style="background-color:gray;"></div>
				<button onclick="wordmuteSave()" class="btn waves-effect" style="width:7.7rem;">@@set@@</button>
				<h5>@@wordemp@@</h5>
				@@enter@@<br>
				<div class="chips" id="wordemp" style="background-color:gray;"></div>
				<button onclick="wordempSave()" class="btn waves-effect" style="width:7.7rem;">@@set@@</button>
				<h5>@@useremp@@</h5>
				@@useerempwarn@@
				<span class="emphasized">　@@empcolorwarn@@　</span>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="fab fa-spotify"></i>@@spotify@@
			</div>
			<div class="collapsible-body">
				<h5>@@link@@(Spotify)</h5>
				@@linkwarn@@<br>
				<div id="spotify-code-show" class="hide"><input type="text" id="spotify-code"><button
						onclick="spotifyAuth()" class="btn waves-effect" style="width:7.7rem;">@@set@@</button></div>
				<a onclick="spotifyConnect()" class="btn waves-effect nex"
					style="width:100%; max-width:15rem; background-color:#1ed760;" id="spotify-enable"><i
						class="fab fa-spotify left"></i>@@connect@@</a>
				<a onclick="spotifyDisconnect()" class="btn waves-effect nex disabled"
					style="width:100%; max-width:15rem; background-color:#1ed760;" id="spotify-disable"><i
						class="fab fa-spotify left"></i>@@disconnect@@</a>
				<h5>@@link@@(Last.fm)</h5>
				@@lastFmWarn@@<br />
				<input type="text" style="width:11.5rem" id="lastFmUser">
				<button onclick="lastFmSet()" class="btn waves-effect" style="width:7.7rem;">@@set@@</button>
				<h5>@@templateedit@@</h5>
				@@templateeditwarn@@<br>
				<textarea id="np-temp" class="materialize-textarea" data-length="500">#NowPlaying {song} / {album} / {artist}
{url}</textarea><br>
				@@template1@@<br>
				<span class="mac">>@@template2@@</span><br>
				<button onclick="spotifySave()" class="btn waves-effect" style="width:7.7rem;">@@set@@</button>
				<h5>@@postartwork@@</h5>
				<label>
					<input class="with-gap" onchange="spotifyFlagSave()" name="awk" type="radio" id="awk_yes"
						value="yes" />
					<span>@@yes@@</span>
				</label>
				<label>
					<input class="with-gap" onchange="spotifyFlagSave()" name="awk" type="radio" id="awk_no"
						value="no" />
					<span>@@no@@</span>
				</label>
				<div class="mac">
					<h5>@@searchArtwork@@</h5>
					@@searchArtworkWarn@@<br />
					<label>
						<input class="with-gap" onchange="aMusicFlagSave()" name="amw" type="radio" id="amw_yes"
							value="yes" />
						<span>@@yes@@</span>
					</label>
					<label>
						<input class="with-gap" onchange="aMusicFlagSave()" name="amw" type="radio" id="amw_no"
							value="no" />
						<span>@@no@@</span>
					</label>
					<br>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				<i class="material-icons">hearing</i>@@tts@@
			</div>
			<div class="collapsible-body">
				<h5>@@bouyomi@@</h5>
				@@bouyomiWarn@@<a href="https://github.com/xztaityozx/BouyomiChan-WebSocket-Plugin"
					target="_blank">GitHub</a><br>
				<label>
					<input class="with-gap" onchange="voiceSettings()" name="bym" type="radio" id="bym_yes"
						value="yes" />
					<span>@@yes@@</span>
				</label>
				<label>
					<input class="with-gap" onchange="voiceSettings()" name="bym" type="radio" id="bym_no" value="no" />
					<span>@@no@@</span>
				</label>
				<h5>@@speed@@</h5>
				@@speedwarn@@<br>
				<p class="range-field"><span id="voicespeedVal">10</span><br>
					<input type="range" id="voicespeed" min="1" max="100" value="10"
						onchange="document.getElementById('voicespeedVal').innerText=this.value"
						style="width:40rem; max-width:100%" /></p>
				<h5>@@pitch@@</h5>
				@@pitchwarn@@<br>
				<p class="range-field"><span id="voicepitchVal">50</span><br>
					<input type="range" id="voicepitch" min="0" max="100" value="50"
						onchange="document.getElementById('voicepitchVal').innerText=this.value"
						style="width:40rem; max-width:100%" /></p>
				<h5>@@vol@@</h5>
				@@volwarn@@<br>
				<p class="range-field"><span id="voicevolVal">100</span><br>
					<input type="range" id="voicevol" min="0" max="100" value="100"
						onchange="document.getElementById('voicevolVal').innerText=this.value"
						style="width:40rem; max-width:100%" /></p>
				<h5>@@test@@</h5>
				<input type="text" style="width:27rem" id="voicetxt" value="@@sample@@">
				<button class="btn waves-effect blue" style="width:11.5rem;" onclick="voicePlay()"
					id="testplay">@@playstop@@</button><br>
				<br>
				<button class="btn waves-effect" style="width:7.7rem;" onclick="voiceSettings()">@@set@@</button>
			</div>
		</li>
	</ul>
	<br>
	<a href="index.html" class="btn waves-effect orange nex" style="width:100%; max-width:15rem;"><i
			class="material-icons left">undo</i>@@back@@</a>
	<br>
	<br>@@keyscs@@
	<li>Ctrl+1-9:@@keyscr@@</li>
	<li>N:@@keynew@@</li>
	<li>X:@@keytoggle@@</li>
	<li>Ctrl+Enter:@@keypost@@</li>
	<li>Ctrl+Enter+Shift:@@keysecpost@@</li>
	<li>Alt+Enter:@@secondary@@</li>
	<li>Ctrl+E:@@keyunread@@</li>
	<li>Ctrl+U:@@keyselecttop@@</li>
	<li>Esc:@@keyesc@@</li>
	<li>F5:@@keyf5@@</li>
	<li>Ctrl+Shift+C:@@keyclear@@</li>
	<li>Ctrl+Shift+S:@@setting@@</li>
	<li>Ctrl+Shift+M:@@keyacctman@@</li>
	<li>Ctrl+Shift+N:NowPlaying(Spotify)</li>
	<li>Ctrl+Shift+P:@@keyshowprof@@</li>
	<li>←/→:@@keyrow@@</li>
	<li>@@keyzoom@@</li>
	<div class="hide kirishima">
		以下Markdownに対応したインスタンスのみ。
		<br>
		<li>Ctrl+B/I/S/U:太字/斜字/取り消し/下線</li>
		@@whenSelected@@
		<li>F:@@fav@@</li>
		<li>B:@@bt@@</li>
		<li>R:@@reply@@</li>
	</div>
	<button class="btn waves-effect red" style="width:100%; max-width:40rem;"
		onclick="if(confirm('@@resetconfirm@@')){ localStorage.clear(); location.href='index.html'; }"><i
			class="material-icons left">delete</i>@@reset@@</button><br><br>
	<button class="btn waves-effect indigo pwa" onclick="about()" style="width:100%; max-width:40rem;"><i
			class="material-icons left">info</i>@@about@@</button>
	<a href="https://thedesk.top" class="btn waves-effect deep-purple lighten-2" style="width:100%; max-width:40rem;"><i
			class="material-icons left">web</i>@@hp@@</a>
	<a href="https://www.pixiv.net/fanbox/creator/28105985" class="btn waves-effect red lighten-2"
		style="width:100%; max-width:40rem;"><i class="material-icons left">trending_up</i>@@support@@(Pixiv FANBOX)</a>
	<a href="https://www.patreon.com/cutls" class="btn waves-effect red darken-2"
		style="width:100%; max-width:40rem;"><i class="material-icons left">trending_up</i>@@support@@(Patreon)</a>
	<a href="https://liberapay.com/cutls" class="btn waves-effect black-text"
		style="width:100%; max-width:40rem; background-color: #f6c915"><i
			class="material-icons left">trending_up</i>@@support@@(Liberapay)</a>
	<a href="https://docs.thedesk.top" class="btn waves-effect blue darken-2" style="width:100%; max-width:40rem;"><i
			class="material-icons left">list</i>@@help@@/Docs</a>
	<a href="https://github.com/cutls/TheDesk" class="btn waves-effect black lighten-2"
		style="width:100%; max-width:40rem;"><i class="fab fa-github left"></i>GitHub</a>
	<a href="index.html?mode=user&code=Cutls@cutls.com" class="btn waves-effect blue lighten-2"
		style="width:100%; max-width:40rem;"><img src="../../img/desk_full.svg" class="left" width="25"
			style="padding-top:5px;">Main author: Cutls@cutls.com</a>
	<br>
	TheDesk @ <a href="https://github.com/cutls/TheDesk/commits/@@gitHash@@">@@gitHash@@</a> - <a
		onclick="checkupd(); return localStorage.removeItem('new-ver-skip'); location.href='index.html';"
		class="pointer pwa">@@checkup@@</a><br>
	<br>
	Kyash<br>
	<img src="../../img/kyash.png" width="100"><br>
	<a href="https://status.cutls.com/">
		<img src="https://status.cutls.com/badge-service?site=thedesk.top">
	</a><br>
	<h5>OSS License@@ossJP@@</h5>
	<a href="https://app.fossa.com/projects/git%2Bgithub.com%2Fcutls%2FTheDesk/refs/branch/master/@@gitHash@@"
		alt="FOSSA Status"><img
			src="https://app.fossa.com/api/projects/git%2Bgithub.com%2Fcutls%2FTheDesk.svg?type=small" /></a>
	<br>
	<span style="font-family:Open Sans;">Copyright &copy; TheDesk 2018
		Under <a href="https://github.com/cutls/TheDesk/blob/master/LICENSE">GNU General Public License v3.0</a> and <a
			href="https://thedesk.top/priv.html">Privacy
			Policy</a>
		<br>
	</span><br>
	TheDeskおよびCutls Pは<a href="https://donken.org/">被災地支援のためのマストドン研究会</a>をログイン機能提供等の形で応援しています。<br>
	タグタイムラインを開く:<a href="index.html?mode=tag&code=被災地支援のためのマストドン研究会">#被災地支援のためのマストドン研究会</a><br>
	<script type="text/javascript" src="../../js/common/modal.js"></script>
	<script type="text/javascript" src="../../js/common/about.js"></script>
	<script type="text/javascript" src="../../js/platform/end.js"></script>
	<script type="text/javascript" src="../../js/login/logout.js"></script>
	<script type="text/javascript" src="../../js/ui/spotify.js"></script>
	<script type="text/javascript" src="../../js/tl/speech.js"></script>
	<script type="text/javascript" src="../../js/platform/pickr.js"></script>
	<script type="text/javascript" src="../../js/ui/settings.js"></script>
	<script type="text/javascript" src="../../js/ui/theme.js"></script>
	<script type="text/javascript" src="../../js/tl/date.js"></script>