<!doctype html>
<html lang="ja">
<head>
<title>Account Manager - TheDesk</title>
<meta content="width=device-width,initial-scale=1.0" name="viewport">
<link href="../../css/materialize.css" type="text/css" rel="stylesheet">
<link href="../../css/themes.css" type="text/css" rel="stylesheet">
<link href="../../css/master.css" type="text/css" rel="stylesheet">
<link href='../../css/font-awesome.css' rel='stylesheet' type='text/css'>
<link href='../../css/tl.css' rel='stylesheet' type='text/css'>
<link href='../../css/userdata.css' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Open+Sans:300" rel="stylesheet">
<style>.acct{display:flex; justify-content:space-around;}
.card{width:400px; background-color: #9e9e9e; margin:10px; }
body,html{overflow-y: scroll;}
#acct-list{display:flex; flex-wrap:wrap; color:white; align-items: flex-start}
.lts{font-size:150%}
.colorsel{ display:flex; }
.card .colorsel div:not(.exc){width:20px;height:20px;}
.card .colorsel div.exc{width:40px;height:20px;}
</style>
<meta charset="utf-8">
</head>
<body id="mainView">
<script type="text/javascript" src="../../js/common/jquery.js"></script>
<script type="text/javascript" src="../../js/platform/first.js"></script>
<script type="text/javascript" src="../../js/common/materialize.js"></script>
<script type="text/javascript" src="../../js/lang/lang.js"></script>
<script>
      var lang="ja"; 
      var misskeytoken=false;
</script>
<script type="text/javascript" src="../../js/ui/tips.js"></script>
<script type="text/javascript" src="../../js/common/time.js"></script>
<script type="text/javascript" src="../../js/common/modal.js"></script>
<a href="index.html" class="btn waves-effect orange nex" style="width:100%; max-width:200px;">戻る</a><br>
<h5>アカウント一覧</h5>
<div id="acct-list"></div>
<div class="divider"></div>
<h5>アカウントを追加</h5><br>
<div id="add">
<div class="row">
      <div class="col s6">
            <input type="text" id="url" style="width:70%" placeholder="ex)mstdn.jp">
            <div id="ins-suggest"></div>
            Windows以外でご使用の方やPleromaにログインされる方はチェックを入れて下さい。<br>
            <input type="checkbox" class="filled-in" id="linux" />
                  <label for="linux">コードセットアップ</label><br>
            <input type="checkbox" class="filled-in" id="misskey" />
                  <label for="misskey">Misskeyとしてログイン</label><br>
            <button class="btn waves-effect" onclick="instance()">Login</button><br>
      </div>
      <div class="col s6">
            <span style="font-family:Open Sans;">Supports</span>
            <div id="support" class="collection transparent"></div>
      </div>
</div></div>
<div id="auth" style="display:none">
      指定されたコードを貼り付けてください。ログインウィンドウは閉じていただいて構いません。<br>
      <input type="text" id="code" placeholder="コードを入力">
      <button class="btn waves-effect" onclick="code()">Auth</button><br>
      </div>
      <div id="misskeylogin" style="display:none">
                  <h5>AppSecret</h5>
                  <a href="https://thedesk.top/how-to-misskey-login.html">ドキュメント</a>を参照して正しいコードを入れてください。<br>
                  <input type="hidden" id="misskey-url">
                  <input type="text" id="misskey-key" placeholder="コードを入力">
                  <button class="btn waves-effect" onclick="misskeyLogin()">Auth</button><br>
            </div>
<h5>メインアカウント</h5>
<div class="input-field" style="width:300px"><span data-trans="your_acct">アカウントを選択</span>
      <br>
      <select id="main-acct-sel" class="acct-sel" style="color:black" onchange="mainacct()"></select>
      <label></label>
</div>
Some instance data by <a href="https://instances.social" target="_blank">instances.social API</a><br>
<h5 id="ins-title"></h5>
Administered by:<a id="ins-admin"></a><br>
<span id="ins-desc"></span><br>
<img src="./img/loading.svg" id="ins-prof" width="200"><br>
<br>
ドメイン名:<span id="ins-name"></span><br>
接続インスタンス数:<span id="ins-connect"></span>個<br>
トゥート数:<span id="ins-toot"></span>個<br>
ユーザー数:<span id="ins-user"></span>ユーザー数<br>
コネクション:<span id="ins-per"></span>%<br>
Mastodonバージョン:<span id="ins-ver"></span>@<span id="ins-upd"></span><br>
<script type="text/javascript" src="../../js/ui/theme.js"></script>
<script type="text/javascript" src="../../js/platform/end.js"></script>
<script type="text/javascript" src="../../js/common/sha256.js"></script>
<script type="text/javascript" src="../../js/login/instance.js"></script>
<script type="text/javascript" src="../../js/login/manager.js"></script>
<script type="text/javascript" src="../../js/tl/date.js"></script>