<!doctype html>
<!--Vue.jsでなんかTLづくりやってみようみたいなやつ。そっ閉じ推奨。-->
<html lang="ja">
<head>
	<title>Beta - TheDesk</title>
	<meta content="width=device-width,initial-scale=1.0" name="viewport">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<meta charset="utf-8">
</head>
<a href="index.html">Back</a>
<div id="tl">
    <div :id="pub_id" class="cvo" :class="boostback" v-bind:class="{ 'faved': fav_app, 'rted': rt_app, 'pinned':pin_app,'hasmedia':hasmedia}" 
        :toot-id="id" :unique-id="uniqueid" :data-medias="media_ids" :unixtime="unixtime" :data-notfIndv="if_notf" 
        @mouseover="mov('mv')" @click="mov('cl')" @mouseout="resetmv('mv')"> 
        <div class="area-notice"><span class="gray sharesta"><span v-if="notice"><i class="big-text fa" :class="rticon"></i>{{dis_name}}(@{{acct}})<br></span></span></div>
        <div class="area-icon">
            <a @click="udg" :user="acct" class="udg"><img :src="avatar" width="40" class="prof-img" :user="acct"></a>
            <a @click="udg" :user="acct" class="udg" v-if="notice"><img :src="avatar" width="40" class="notf-icon prof-img" :user="acct"></a>
        </div>

        Yeah
    </div>
</div>
<script>
var app = new Vue({
el: '#tl',
data: {
    tlid:0,
    pub_id:"pub_123",
    id: 123,
    uniqueid:1234,
    boostback:'a',
    fav_app:true,
    rt_app:true,
    pin_app:false,
    hasmedia:false,
    media_ids:'',
    unixtime:'1238954',
    if_notf:''
},
methods: {
    mov: function (c) {
      mov(this.id,this.tlid,c)
    },
    resetmv: function (c) {
      resetmv(c)
    }
  }
})

</script>
<script>
function mov(a,b,c){
    console.log(a+":"+b+":"+c);
}
function resetmv(a){
    console.log(a);
}
</script>
<!--@mouseover="mov({{id}},{{tlid}},'mv')" @click="mov({{id}},{{tlid}},'cl')" @mouseout="resetmv('mv')"-->
<!--
    <div id="pub_toot.id" class="cvo boostback fav_app rt_app pin_app hasmedia" toot-id="id" unique-id="uniqueid" data-medias="media_ids " unixtime="date(obj[key].created_at, unix)" if_notf onmouseover="mov(toot.id,tlid,mv)" onclick="mov(toot.id,tlid,cl)" onmouseout="resetmv(mv)"> 
			<div class="area-notice"><span class="gray sharesta">noticehome</span></div> 
			<div class="area-icon">
                <a onclick="udg(toot.account.id,acct_id);" user="toot.account.acct" class="udg"><img src="avatar" width="40" class="prof-img" user="toot.account.acct"></a>noticeavatar
            </div> 
			<div class="area-display_name">
                <div class="flex-name"><span class="user">dis_name</span><span class="sml gray" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis; cursor:text;">@toot.account.acctlocked</span></div> 
			<div class="flex-time"><span class="cbadge cbadge-hover pointer waves-effect" onclick="tootUriCopy(toot.url);" title="date(toot.created_at, absolute)(lang_parse_clickcopyurl[lang])"><i class="fa fa-clock-o"></i> 
			date(toot.created_at, datetype)</span> 
			</div></div> 
			<div class="area-toot"><span class="api_spoil cw_text_toot.id">spoilspoiler_show</span><span class="toot spoiler">content</span> 
			viewer 
			</div><div class="area-additional"><span class="additional">analyze</span>mentionstags</div> 
			<div class="area-vis"></div>
			<div class="area-actions mouseover"> 
			<div class="action">vis</div>
			<div class="action antinoauth"><a onclick="detEx(toot.url,main)" class="waves-effect waves-dark details" style="padding:0">lang_parse_det[lang]</a></div> 
            <div class="action disp["re"] noauth"><a onclick="re(toot.id,toot.account.acct,acct_id,visen)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_replyto[lang]">
                <i class="fa fa-share"></i><span class="rep_ct">replyct</a></span></a></div> 
			<div class="action can_rt disp["rt"] noauth"><a onclick="rt(toot.id,acct_id,tlid)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_bt[lang]"><i class="text-darken-3 fa fa-retweet
			if_rt rt_toot.id"></i><span class="rt_ct">toot.reblogs_count 
			</span></a></div> 
			<div class="action can_rt disp["qt"] noauth"><a onclick="qt(toot.id,acct_id 
			,toot.account.acct ,toot.url
			)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_quote[lang]"><i class="text-darken-3 fa fa-quote-right"></i></a></div> 
			<div class="action disp["fav"] noauth"><a onclick="fav(toot.id,acct_id 
			,tlid 
			)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_fav[lang]"><i class="fa text-darken-3 fa-star 
			if_fav fav_toot.id"></i><span class="fav_ct">toot.favourites_count 
			</a></span></div> 
			<div class="if_mine action disp["del"] noauth"><a onclick="del(toot.id, 
			acct_id 
			)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_del[lang]"><i class="fa fa-trash-o"></i></a></div> 
			<div class="if_mine action pin disp["pin"] noauth"><a onclick="pin(toot.id, 
			acct_id 
			)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_pin[lang]"><i class="fa fa-map-pin pin_toot.id if_pin"></i></a></div> 
			<div class="if_mine action disp["red"] noauth"><a onclick="redraft(toot.id, 
			acct_id 
			)" class="waves-effect waves-dark btn-flat" style="padding:0" title="lang_parse_redraft[lang]"><i class="material-icons">redo</i></a></div>trans
			<span class="cbadge viabadge waves-effect viashow mine_via" onclick="client($.strip_tags(via))" title="via $.strip_tags(via)">via
			via 
			</span>
			</div><div class="area-side mouseover"><div class="action if_mine noauth"><a onclick="toggleAction(toot.id,tlid,acct_id)" class="waves-effect waves-dark btn-flat" style="padding:0"><i class="text-darken-3 material-icons act-icon">expand_more</i></a></div> 
			<div class="action noauth"><a onclick="details(toot.id,acct_id 
			,tlid)" class="waves-effect waves-dark btn-flat details" style="padding:0"><i class="text-darken-3 material-icons">more_vert</i></a></div> 
			</div></div> 
			</div></div>
-->