<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<title>Account Manager - TheDesk</title>
		<meta content="width=device-width,initial-scale=1.0" name="viewport" />
		<link href="../../css/themes.css" type="text/css" rel="stylesheet">
		<link
			href="../../node_modules/materialize-css/dist/css/materialize.css"
			type="text/css"
			rel="stylesheet"
		/>
		<link href="../../css/master.css" type="text/css" rel="stylesheet" />
		<link href="../../css/tl.css" rel="stylesheet" type="text/css" />
		<link href="../../css/userdata.css" rel="stylesheet" type="text/css" />
		<link
			href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
			type="text/css"
			rel="stylesheet"
		/>
		<link href="../../css/acct.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" />
		<!--
		<script type="text/javascript">
			var _jipt = []
			_jipt.push(['project', 'thedesk'])
		</script>
		<script type="text/javascript" src="https://cdn.crowdin.com/jipt/jipt.js"></script>
		-->
		<script>var pwa = false;</script> <script>var store = false;</script>
	</head>

	<body id="mainView" class="">
		<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="../../js/platform/first.js"></script>
		<script
			type="text/javascript"
			src="../../node_modules/materialize-css/dist/js/materialize.js"
		></script>
		<script type="text/javascript" src="main.js"></script>
		<script
			type="text/javascript"
			src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"
		></script>
		<script>
			var misskeytoken = false
		</script>
		<script type="text/javascript" src="../../js/common/time.js"></script>
		<div class="hide-first">
			<a href="index.html" class="btn waves-effect orange nex" style="width:100%; max-width:200px;"
				>上一頁</a
			><br />
			<h5>帳號列表</h5>
			<div id="acct-list"></div>
			<div class="divider"></div>
		</div>
		<div class="hide-second">
			<a href="setting.html">擁有已匯出之 TheDesk 設定檔，請點此跳至設定頁</a>
		</div>
		<div>
			<h5>新增帳號</h5>
			<br />
			<div id="add">
				<div class="row">
					<div class="col s8">
						請填入 instance 網址 (例如：mastodon.social)<br />
						<input type="text" id="url" style="width:70%" placeholder="ex)mstdn.jp" />
						<div id="ins-suggest"></div>
						<button class="btn waves-effect" onclick="instance()">Login</button><br />
						<div class="pwa">
							取消選取以忽略貼上授權碼。(於 Windows 或 macOS 上登入 Mastodon) (建議：pcheck)<br />
							<label>
								<input type="checkbox" class="filled-in" id="linux" />
								<span>授權碼設定</span>
							</label>
							<br />
						</div>
						<label>
							<input type="checkbox" class="filled-in" id="misskey" />
							<span>以 Misskey 登入</span> </label
						><br />
					</div>
					<div class="col s4 scr" aria-hidden="true">
						<span style="font-family:Open Sans;">Supports</span>
						<div id="support" class="collection transparent"></div>
					</div>
				</div>
			</div>
			<div id="auth" style="display:none">
				請貼上授權碼並關閉瀏覽器。<br />
				<input type="text" id="code" placeholder="授權碼" required />
				<button class="btn waves-effect" onclick="code()">Auth</button><br />
				<br />
				<a onclick="atSetup()" class="pointer">使用 access token 登入 (填入 access token 而非授權碼後點擊：進階設定)</a>
				<div id="compt" style="display:none" class="scr">
					<h5>ログイン前に必ずご確認ください</h5>
					<span id="compt-instance"></span>はバージョンが<span id="compt-ver"></span
					>のため以下の機能がご利用いただけません。
					<span id="compt-warn" style="display:none"
						>また、このインスタンスはMastodonではなくそのAPI上の互換実装であり、TheDeskでは利用を想定していないため非保証となります。</span
					>
					<ul id="compt-list"></ul>
				</div>
			</div>
			<div id="misskeylogin" style="display:none">
				<h5>AppSecret</h5>
				請閱讀 <a href="https://thedesk.top/how-to-misskey-login.html"> 文件(日文)</a> 以 Misskey 登入說明。<br />
				<input type="hidden" id="misskey-url" />
				<input type="text" id="misskey-key" placeholder="授權碼" required />
				<button class="btn waves-effect" onclick="misskeyLogin()">Auth</button><br />
				<br />
				<a onclick="atSetup('misskey')" class="pointer">使用 access token 登入 (填入 access token 而非授權碼後點擊：進階設定)</a>
			</div>
		</div>
		<div class="hide-first">
			<h5>主要帳號</h5>
			<div class="input-field" style="width:300px">
				<span data-trans="your_acct">選擇帳號</span>
				<br />
				<select
					id="main-acct-sel"
					class="acct-sel"
					style="color:black"
					onchange="mainacct()"
				></select>
				<label></label>
			</div>
			<ul id="domain-list" class="collection transparent"></ul>
			<div id="instance-data">
				Some instance data by
				<a href="https://instances.social" target="_blank">instances.social API</a><br />
				<h5 id="ins-title"></h5>
				Administered by:<a id="ins-admin"></a><br />
				<span id="ins-desc"></span><br />
				<img src="../../img/loading.svg" id="ins-prof" width="200" /><br />
				<br />
				網址:<span id="ins-name"></span><br />
				聯邦伺服器:<span id="ins-connect"></span><br />
				嘟文:<span id="ins-toot"></span><br />
				使用者:<span id="ins-user"></span>使用者<br />
				連線:<span id="ins-per"></span>%<br />
				Mastodon 版本:<span id="ins-ver"></span>@<span id="ins-upd"></span><br />
			</div>
		</div>
		<script type="text/javascript" src="../../js/ui/theme.js"></script>
		<script type="text/javascript" src="../../js/ui/tips.js"></script>
		<script type="text/javascript" src="../../js/platform/end.js"></script>
		<script type="text/javascript" src="../../js/common/sha256.js"></script>
		<script type="text/javascript" src="../../node_modules/lodash/lodash.min.js"></script>
		<script type="text/javascript" src="../../js/login/instance.js"></script>
		<script type="text/javascript" src="../../js/login/manager.js"></script>
		<script type="text/javascript" src="../../js/tl/date.js"></script>
		<script>$('body').addClass(localStorage.getItem('platform'))</script>
	</body>
</html>
