<!-- Modal Structure Image-->
<div id="imagemodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div id="imagewrap">
            <img src="" id="imgmodal" />
        </div>
        <div class="progress nomargin hide transparent" id="imgmodal-progress">
            <div class="indeterminate"></div>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <div id="imginfo">
            <span id="imgprog"></span>% <br />
            <span id="imgsec"></span>ms <br /><span id="imgbyte"></span>KB
        </div>
        <a class="waves-effect white-text" onclick="zoom(2)">
            <i class="material-icons">zoom_in</i>
        </a>
        <a class="waves-effect white-text" onclick="zoom(0.5)">
            <i class="material-icons">zoom_out</i>
        </a>
        <a class="waves-effect white-text" onclick="rotate(false)">
            <i class="material-icons">rotate_90_degrees_ccw</i>
        </a>
        <button class="btn waves-effect blue" onclick="copyImgUrl()" title="@@copyURL@@">
                <i class="material-icons">link</i>
            </button>
        <button class="btn waves-effect purple" onclick="dlImg()">
                <i class="material-icons">file_download</i>
            </button>
        <button class="btn waves-effect brown" onclick="detFromImg()" title="@@thisToot@@">
                <i class="material-icons">pageview</i>
            </button>
        <button class="btn waves-effect orange" onclick="imgCont('prev')" id="image-prev">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
        <button class="btn waves-effect orange" onclick="imgCont('next')" id="image-next">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
            <i class="material-icons">close</i>
        </a>
    </div>
</div>
<!-- Modal Structure Video-->
<div id="videomodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <video src="" id="video" style="max-width: 100%; max-height: 100%" controls loop="true" autoplay="true" />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">@@close@@</a>
    </div>
</div>