<!--Support me-->
<div id="support-btm" class="z-depth-4 hide scr">
    <div id="support-btm-ja">
        <h5>ご支援いただけませんか？</h5>
        (これは支援の有無に関わらず定期的に出ます。過去のバージョン等で何度も表示される等のバグを確認しております。)<br /> あなたのMastodon, Misskeyライフを邪魔してしまって申し訳ありません。<br /> 乞食のようなマネをしてご支援をお願いするのもどうかと思いますが、少々お時間をください。
        <br />
        <br /> TheDeskになぜ金銭が発生するかについて: 詳細は省きますが、開発者から緊急の連絡をしたりするのに使われます。
        <br />
        <b>全てのユーザーが安心してTheDeskを使っていただける環境のため</b>にも、ぜひご支援をご検討ください。ご支援いただけなくても使用不可能になることは全くありません。<br />
        <b>@@TheDeskDes@@</b>
    </div>
    <div id="support-btm-en" class="hide">
        <h5>Support me</h5>
        It may disturb your Mastodon life, but your support is required to keep TheDesk awesome!<br />
        <b>@@TheDeskDes@@</b>
    </div>
    <div id="support-btm-middle">
        <h5>@@monthly@@</h5>
        <a class="btn-share btn waves-effect waves-light red lighten-2" href="https://www.pixiv.net/fanbox/creator/28105985" target="_blank"> @@PixivSupport@@ </a>
        <a class="btn-share btn waves-effect waves-light red darken-2" href="https://www.patreon.com/cutls" target="_blank"> @@PatreonSupport@@ </a>
        <a class="btn-share btn waves-effect waves-light black-text" href="https://liberapay.com/cutls" target="_blank" style="background-color: #f6c915"> Liberapay </a>
    </div>
    <div id="support-btm-right">
        <h5>@@once@@</h5>
        <a class="btn-share btn waves-effect waves-light blue" href="https://www.amazon.co.jp/registry/wishlist/2TV35ZHHJPDSB" target="_blank"> @@AWLSupport@@ </a>
        <br /> @@SendAmazonGift1@@ <a href="mailto:web-pro@cutls.com" target="_blank">web-pro@cutls.com</a>@@SendAmazonGift2@@<br /> Kyash
        <br />
        <img src="../../img/kyash.png" width="100" /><br />
    </div>
    <div id="support-btm-close">
        <button class="btn waves-effect" style="width: 100%" onclick="closeSupport()" id="add-filter-btn">@@close@@</button>
    </div>
</div>