<!-- Modal Structure Userdata -->
<div id="his-data" class="modal bottom-sheet modal-fixed-footer" style="max-height: 750px; height: 90%">
	<div id="his-data-content" class="modal-content" style="padding-bottom: 0; overflow-y: hidden">
		<div id="his-data-show">
			<div id="his-data-wrap">
				<div class="his-float" id="his-float-data">
					<div id="his-leftside">
						<div id="his-basic-prof">
							<div>
								<img src="../../img/loading.svg" id="his-prof" draggable="false" />
							</div>
							<div>
								<span id="his-name">Loading...</span>
								<span class="gray">@</span><span id="his-acct" class="gray"></span><br />
								<span class="gray" id="his-relation"></span>
								<br />
								<span class="cbadge"> <span id="his-sta"></span>@@toots@@ </span>
								<span class="cbadge"
									>@@follow@@:
									<span id="his-follow"></span>
								</span>
								<span class="cbadge">@@follower@@: <span id="his-follower"></span> </span><br />
								<span class="cbadge" style="max-width: 11.5rem; width: 11.5rem"
									>Since:
									<span id="his-since"></span>
								</span>
								<span class="cbadge" id="his-bot">[bot]</span>
							</div>
						</div>
						<div id="his-proof-prof"></div>
						<div id="his-des" data-acct=""></div>
						<br />
						<div id="his-table"></div>
						<br />
						<div id="his-sign-action">
							<a href="#!" class="waves-effect waves-green btn" onclick="follow()" style="flex-basis: 100%" id="his-follow-btn"
								><i class="material-icons">people</i><span id="his-follow-btn-text">@@follow@@</span></a
							>
							<a href="#!" class="waves-effect waves-green btn blue shrinker" onclick="muteMenu()" id="his-mute-btn"
								><i class="material-icons">voice_over_off</i><span id="his-mute-btn-text">@@mute@@</span>
							</a>
							<a href="#!" class="waves-effect waves-green btn red shrinker" onclick="block()" id="his-block-btn"
								><i class="material-icons">block</i><span id="his-block-btn-text">@@block@@</span></a
							>
							<a class="dropdown-trigger btn waves-effect grey" href="#" data-target="actiondropdown"> <i class="material-icons">more_vert</i>@@more@@</a>
						</div>
						<div id="muteDuration" class="hide">
							<label>
								<input type="checkbox" class="filled-in" id="notf_mute" value="1" />
								<span>@@notfMute@@</span>
							</label>
							<br />
							@@zeroSetToInfinity@@<br />
							Quick: <a onclick="muteTime(0,0,5)" class="pointer">5@@mins@@</a>/ <a onclick="muteTime(0,0,30)" class="pointer">30@@mins@@</a>/ <a onclick="muteTime(0,1,0)" class="pointer">1@@hours@@</a>/
							<a onclick="muteTime(0,6,0)" class="pointer">6@@hours@@</a>/ <a onclick="muteTime(1,0,0)" class="pointer">1@@days@@</a>/ 
                            <a onclick="muteTime(3,0,0)" class="pointer">3@@days@@</a>/ <a onclick="muteTime(7,0,0)" class="pointer">7@@days@@</a>
							<a onclick="muteTime(0,0,0)" class="pointer">@@unlimited@@</a><br />
							<input type="number" style="width: 62px" id="days_mute" placeholder="d" value="0" />@@days@@
							<input type="number" style="width: 62px" id="hours_mute" placeholder="h" value="0" />@@hours@@
							<input type="number" style="width: 62px" id="mins_mute" placeholder="m" value="0" />@@mins@@
							<a href="#!" class="waves-effect waves-green btn blue" onclick="muteDo()" id="his-mute-btn"
								><i class="material-icons">voice_over_off</i><span id="his-mute-btn-text">@@mute@@</span>
							</a>
						</div>
						<!-- Dropdown Structure -->
						<ul id="actiondropdown" class="dropdown-content">
							<li onclick="empUser()">
								<a title="@@empUser@@"><i class="material-icons">highlight</i>@@empUser@@</a>
							</li>
							<li onclick="pinUser()" class="only-his-data">
								<a title="@@endorse@@"><i class="material-icons">thumb_up</i>@@endorse@@</a>
							</li>
							<li onclick="profbrws()" id="his-openin">
								<a title="@@openinbrowser@@"><i class="material-icons">open_in_browser</i>@@openinbrowser@@</a>
							</li>
							<li onclick="setMain()" class="only-my-data" id="his-main-acct">
								<a title="@@mainacct@@"><i class="material-icons">grade</i>@@mainacct@@</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="his-float" id="his-float-timeline">
					<div id="my-data-nav">
						<a go="#his-tl" title="@@timeline@@" class="btn active-back column-first anc-link waves-effect"><i class="material-icons">timeline</i>@@timeline@@</a>
						<a go="#his-follow-list" title="@@follow@@" class="btn anc-link waves-effect"><i class="material-icons">people</i>→@@follow@@</a>
						<a go="#his-follower-list" title="@@follower@@" class="btn anc-link waves-effect"><i class="material-icons">people</i>←@@follower@@</a>
						<a go="#his-fav-list" title="@@favRegist@@" class="btn only-my-data anc-link waves-effect"> <i class="material-icons">star</i>@@favRegist@@</a>
						<a class="dropdown-trigger btn waves-effect" href="#" data-target="hisdropdown"><i class="material-icons">more_vert</i>@@more@@</a>
						<div id="his-data-title-wrap">
							<span id="his-data-title"><i class="material-icons">timeline</i>@@timeline@@</span>
							<button class="btn waves-effect grey darken-2" style="width: 180px" id="util-add" onclick="utlAdd()">
								<i class="material-icons">add</i>
								@@utlColumn@@
							</button>
						</div>
						<!-- Dropdown Structure -->
						<ul id="hisdropdown" class="dropdown-content">
							<li class="anc-link only-his-data" go="#his-list">
								<a href="#" title="@@list@@"> <i class="material-icons">list</i>@@list@@ </a>
							</li>
							<li class="anc-link only-my-data" go="#his-blocking-list">
								<a href="#" title="@@blocks@@"><i class="material-icons">block</i>@@blocks@@</a>
							</li>
							<li class="anc-link only-my-data" go="#his-muting-list">
								<a href="#" title="@@mute@@"><i class="material-icons">voice_over_off</i>@@mute@@</a>
							</li>
							<li class="anc-link only-my-data" go="#his-domain-list">
								<a href="#" title="@@domainBlock@@"><i class="material-icons">cancel_schedule_send</i>@@domainBlock@@</a>
							</li>
							<li class="anc-link only-my-data" go="#his-prof-list">
								<a href="#" title="@@editProf@@"><i class="material-icons">create</i>@@editProf@@</a>
							</li>
							<li class="anc-link only-my-data" go="#his-request-list">
								<a href="#" title="@@followReq@@"><i class="material-icons">how_to_reg</i>@@followReq@@</a>
							</li>
							<li class="anc-link only-my-data" go="#his-follow-recom-list">
								<a href="#" title="@@frc@@"><i class="material-icons">recent_actors</i>@@frc@@</a>
							</li>
							<li class="anc-link only-his-data" go="#his-action">
								<a href="#" title="@@operateOtherAcct@@"><i class="material-icons">account_box</i>@@operateOtherAcct@@</a>
							</li>
						</ul>
					</div>
					<div id="his-tl" class="his-var-content">
						<div id="his-tl-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="utlShow('--now','more')">@@more@@</button>
					</div>
					<div id="his-follow-list" class="his-var-content">
						<div id="his-follow-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="flw('--now','more')">@@more@@</button>
					</div>
					<div id="his-follower-list" class="his-var-content">
						<div id="his-follower-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="fer('--now','more')">@@more@@</button>
					</div>
					<div id="his-action" class="his-var-content">
						@@useOtherAcct1@@@@revoverJP@@@@follow@@(@@warnUseOtherAcct@@)<br />
						<div style="max-width: 500px">
							<select id="user-acct-sel" class="acct-sel"></select>
						</div>
						@@revoverJPde@@
						<a href="#!" class="waves-effect btn" onclick="follow('selector','selector')">@@follow@@</a><br />
						@@or@@
						<br />
						<a href="#!" class="waves-effect btn" onclick="udgEx('selector', 'selector')">@@openProf@@</a><br />
					</div>
					<div id="his-list" class="his-var-content">
						<div id="his-lists-a">@@warnListRegist@@</div>

						<div id="his-lists-b"></div>
					</div>
					<div id="his-fav-list" class="his-var-content">
						<div id="his-fav-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="showFav('more')">@@more@@</button>
					</div>
					<div id="his-blocking-list" class="his-var-content">
						<div id="his-blocking-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="showBlo('more')">@@more@@</button>
					</div>
					<div id="his-muting-list" class="his-var-content">
						<div id="his-muting-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="showMut('more')">@@more@@</button>
					</div>
					<div id="his-domain-list" class="his-var-content">
						<div id="his-domain-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="showDom('more')">@@more@@</button>@@blockDomain@@
						<br />
						<input type="text" placeholder="example.com" id="domainblock" />
						<button class="btn waves-effect" onclick="addDomainblock()">@@add@@</button>
						<br />
					</div>
					<div id="his-prof-list" class="his-var-content">
						@@name@@
						<br />
						<input type="text" placeholder="@@name@@" id="his-name-val" style="max-width: 250px" />
						<br />@@note@@
						<br />
						<div class="input-field col s12">
							<textarea placeholder="@@note@@" id="his-des-val" class="materialize-textarea"></textarea>
							<label for="his-des-val">@@note@@</label>
						</div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="profedit()">@@change@@</button>
						<br />@@editProfImg@@:
						<span id="prof-change">
							<input type="file" onchange="imgChange(this,'avatar')" />
						</span>
						<br />@@editHeader@@:
						<span id="header-change">
							<input type="file" onchange="imgChange(this,'header')" />
						</span>
					</div>
					<div id="his-request-list" class="his-var-content">
						<div id="his-request-list-contents" class="cont-series"></div>
						<button class="btn waves-effect" style="width: 100%; padding: 0" onclick="showReq('more')">@@more@@</button>
					</div>
					<div id="his-follow-recom-list" class="his-var-content">
						<div id="his-follow-recom-contents" class="cont-series"></div>
					</div>
					<div id="his-float-blocked">
						<div>@@blocked@@</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="modal-action waves-effect waves-green btn-flat" id="his-history-btn" onclick="historyShow()">@@historyBack@@</button>
		<a href="#!" class="modal-action waves-effect waves-green btn-flat" onclick="hisclose()">@@close@@</a>
	</div>
</div>
