<style>
    #v24Note {
        position: fixed;
        background-color: var(--bg);
        width: 80vw;
        height: 80vh;
        z-index: 999;
        border-radius: 1rem;
        top: 10vh;
        left: 10vw;
        border-color: var(--text);
        border-width: 5px;
        border-style: solid;
        padding: 1rem;
        overflow-y: scroll;
    }
</style>
<div id="v24Note" class="hide">
    <h2>@@welcomeToV24@@</h2>
    <p>@@v24ChangeDescNegative@@</p>
    <a href="https://github.com/cutls/TheDesk/releases/tag/v23.1.0" target="_blank" class="pwa">v23.1.0</a>
    <a href="https://v23.thedesk.top" target="_blank" class="hide hideOnlyPwa">23-archive</a>
    <ul class="browser-default">
        <li>@@v24Misskey@@</li>
        <li>@@v24Locale@@</li>
        <li>@@v24Tootsearch@@</li>
        <li>@@v24Nano@@</li>
    </ul>
    <p>@@v24Downgrade@@</p>
    <button class="btn waves-effect" onclick="migrate()">@@v24Migrate@@</button>
    <p style="margin-top: 1rem">@@v24ChangeDescPositive@@</p>
    <ul class="browser-default">
        <li>@@v24SpeedyAndSafety@@</li>
        <li>@@v24AltImage@@</li>
        <li>@@v24NiceContextTool@@</li>
    </ul>
    <div class="hide onlyJa">
        【お知らせ】iOSクライアント「TootDesk」が出ました。<br />
        <img src="../../img/tootdesk.png" width="150" />
    </div>
</div>