<style>
    #v25Note {
        position: fixed;
        background-color: var(--bg);
        width: 80vw;
        height: 80vh;
        z-index: 999;
        border-radius: 1rem;
        top: 10vh;
        left: 10vw;
        border-color: var(--text);
        border-width: 5px;
        border-style: solid;
        padding: 1rem;
        overflow-y: scroll;
    }
</style>
<div id="v25Note" class="hide">
    <h2>@@checkToV25@@</h2>
    <p>@@v25ChangeDescNegative@@</p>
    <p style="margin-top: 1rem">@@v25ChangeDescPositive@@</p>
    <ul class="browser-default">
        <li>@@v25SpeedyAndSafety@@</li>
    </ul>
    <a class="btn waves-effect" href="https://thedesk.top">@@v25Migrate@@</a>
    <button class="btn waves-effect" onclick="hideV25Note()">@@v25Back@@</button>
</div>

<script>
    function hideV25Note() {
        document.getElementById('v25Note').classList.add('hide');
        localStorage.setItem('v25Accepted', 'true');
    }
</script>
