/*TL CSS(ただしBBCode pulse:master.css/spin:font-awesome*/
#timeline-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
iframe {
	max-width:100%;
}
.box {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 300px;
  height: 100vh;
  flex: 1;
}
@media screen and (max-width: 600px) {
  #timeline-container {
    display: block;
    overflow-x: hidden;
  }
  .box {
    width: 100vw;
  }
  .fixed-action-btn {
    position: absolute;
  }
}
.additional {
  overflow-x: scroll;
  width: 100%;
}
.cvo {
  padding-left: 5px;
  padding-right: 2px;
  word-break: break-all;
}
.gray {
  color: gray;
}
.sml {
  font-size: 80%;
}
.toot {
  overflow: hide;
}
.toot-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.toot img:not(.emoji-img) {
  max-width: 100%;
  max-height: 300px;
}
.cbadge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  margin-right: 5px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
.shared {
  background-color: #cfd8dc;
}
.udg {
  cursor: pointer;
}
.notice {
  top: -7px;
  display: inline-block;
  position: relative;
  font-family: Open Sans;
  margin-right: 10px;
}
#tools {
  position: fixed;
  top: 10px;
  right: 10px;
  float: right;
}
.setting {
  font-size: 7px;
  color: gray;
  cursor: pointer;
}
#toot-this .details {
  display: none;
}
.notf-box {
  position: fixed;
  right: 3px;
  bottom: 300px;
  background-color: white;
  border: thin solid gray;
  z-index: 1001;
  width: 400px;
  padding: 5px;
  min-height: 100px;
  max-height: 500px;
}
.notf-indv-box {
  min-height: 100px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: thin solid gray;
}
#src-contents {
  min-height: 100px;
  max-height: 190px;
  overflow-y: scroll;
}
.mention {
  color: black;
  cursor: text;
}

/*black theme*/
.blacktheme #notf-box, .notf-box {
  background-color: #424242;
}
.blacktheme .modal-footer {
  background-color: #424242;
}
.blacktheme .btn-flat {
  color: white
}
.blacktheme .shared {
  background-color: #004d40;
}
.blacktheme .mention {
  color: white;
}